<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated emf_ecore_examples_satellite -->
      <package
            uri="org.eclipse.symphony.examples.satellite"
            class="org.eclipse.symphony.examples.satellite.EMFEcoreExampleSatellitePackage"
            genModel="model/symphony_examples_satellite.xcore"/>
   </extension>
   <extension
         point="org.eclipse.symphony.core.invocator.typeContributor">
      <Type
            URI="model/SatelliteConstellationExample.ei">
      </Type>
   </extension>

</plugin>
