<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2007.

 $Id: plugin.xml,v 1.4.4.2 2015/05/21 15:50:48 pallard Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "ca.gc.space.mrt.geometry.data3d" 
       class = "ca.gc.space.mrt.geometry.data3d.Data3dPackage"
       genModel = "model/mrt_geometry_data3d.xcore" /> 
  </extension>
</plugin>
