<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2012 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_addons_mobility -->
      <package
            uri="org.eclipse.symphony.addons.mobility"
            class="org.eclipse.symphony.addons.mobility.MobilityPackage"
            genModel="model/symphony_addons_mobility.xcore"/>
   </extension>

</plugin>
