<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eclipse_emf_ecore_invocator_programs -->
      <package
            uri="org.eclipse.symphony.core.programs"
            class="org.eclipse.symphony.core.programs.Symphony__CoreProgramsPackage"
            genModel="model/symphony_core_programs.xcore"/>
   </extension>

</plugin>
