<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated symphony_environment_orbit -->
      <factory
            uri="org.eclipse.symphony.core.environment.orbit"
            class="org.eclipse.symphony.core.environment.orbit.provider.SymphonyOrbitEnvironmentItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_core_environment_orbit -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.core.environment.orbit.provider.SymphonyOrbitEnvironmentItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.core"
            class="org.eclipse.symphony.core.environment.orbit.provider.SymphonyOrbitEnvironmentItemProviderAdapterFactory$SymphonyCoreChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_environment_orbit -->
      <extender
            uri="org.eclipse.symphony.core"
            class="org.eclipse.symphony.core.environment.orbit.provider.SymphonyOrbitEnvironmentItemProviderAdapterFactory$SymphonyCoreChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.core.environment.orbit.provider.SymphonyOrbitEnvironmentItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
