<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2012 Copyrights (c)
-->

<plugin>
   <extension-point
   		id="symphonySystemContributor"
   		name="Symphony System Contributor"
   		schema="schema/symphonySystemContributor.exsd">
   </extension-point>
   <extension-point
   		id="worksiteProvider"
   		name="Worksite Provider"
   		schema="schema/worksiteProvider.exsd">
   </extension-point>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.core"
            class="org.eclipse.symphony.core.SymphonyCorePackage"
            genModel="model/symphony_core.xcore"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="ss"
            class="org.eclipse.symphony.core.invocator.util.EMFEcoreInvocatorResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.symphony.core.invocator.invocatorDelegate">
      <element
            invocatorDelegateClass="org.eclipse.symphony.core.invocator.SymphonyInvocatorDelegate">
      </element>
   </extension>
</plugin>
