<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2012 Copyrights (c)
-->

<plugin>

   <extension-point
   		id="worksiteProvider"
   		name="Worksite Provider"
   		schema="schema/worksiteProvider.exsd">
   </extension-point>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.core"
            class="org.eclipse.symphony.core.Symphony__CorePackage"
            genModel="model/symphony_core.xcore"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="ss"
            class="org.eclipse.symphony.core.invocator.util.Symphony__CoreInvocatorResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.symphony.core.invocator.invocatorDelegate">
      <element
            invocatorDelegateClass="org.eclipse.symphony.core.invocator.SymphonyInvocatorDelegate">
      </element>
   </extension>
   <extension
         point="org.eclipse.symphony.common.converters">
      <new_element
            Class="org.eclipse.symphony.core.converters.SymphonyEnvironmentToTimeSourcesListConverter">
      </new_element>
   </extension>
</plugin>
