<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne - Canadian Space Agency 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="org.eclipse.symphony.addons.sensors.fov.bindings"
            class="org.eclipse.symphony.addons.sensors.fov.bindings.provider.Symphony__AddonsSensorsFOVBindingsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated mrt_fov_bindings -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.sensors.fov.bindings.provider.Symphony__AddonsSensorsFOVBindingsItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology.bindings"
            class="org.eclipse.symphony.addons.sensors.fov.bindings.provider.Symphony__AddonsSensorsFOVBindingsItemProviderAdapterFactory$TopologyBindingsChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="org.eclipse.symphony.common.topology.bindings"
            class="org.eclipse.symphony.addons.sensors.fov.bindings.provider.Symphony__AddonsSensorsFOVBindingsItemProviderAdapterFactory$TopologyBindingsChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.sensors.fov.bindings.provider.Symphony__AddonsSensorsFOVBindingsItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
