<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.symphony.common.topology.ui.graphicsContextAdapter">
      <Class
            Class="org.eclipse.symphony.common.geometry.data3d.las.ui.GraphicsContextLasAdapter">
      </Class>
   </extension>

</plugin>
