<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="org.eclipse.symphony.addons.sensors.gps"
            class="org.eclipse.symphony.addons.sensors.gps.provider.GpsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated GPS -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.sensors.gps.provider.GpsItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
