<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_tools_vehicle_ui -->
      <package
            uri="ca.gc.asc_csa.symphony.tools.vehicle.ui"
            class="ca.gc.asc_csa.symphony.tools.vehicle.ui.SymphonyToolsVehicleUIPackage"
            genModel="model/symphony_tools_vehicle_ui.xcore"/>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.asc_csa.symphony.tools.vehicle.ui.adapters.WheelPresentationAdapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.gc.asc_csa.symphony.tools.vehicle.ui.preferences.VehicleUIPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.gc.asc_csa.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="ca.gc.asc_csa.symphony.tools.vehicle.ui.preferences.VehicleUIPreferencesPage"
            id="ca.gc.asc_csa.symphony.tools.vehicle.ui.preferences.VehicleUIPreferencesPage"
            name="Vehicules">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.gc.asc_csa.symphony.tools.vehicle.ui.commands.ReInitializeWheeledVehiclePoseCorrectorCommand"
            id="ca.gc.asc_csa.symphony.tools.vehicle.ui.commands.ReInitializeWheeledVehiclePoseCorrectorCommand"
            name="ReInitializeWheeledVehiclePoseCorrector">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.symphony.tools.vehicle.ui.commands.PathPlannerToolReplanCommand"
            id="ca.gc.asc_csa.symphony.tools.vehicle.ui.commands.PathPlannerToolReplanCommand"
            name="Re-Plan Path">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ca.gc.asc_csa.symphony.core.ui.menu?after=additions">
         <command
               commandId="ca.gc.asc_csa.symphony.tools.vehicle.ui.commands.ReInitializeWheeledVehiclePoseCorrectorCommand"
               label="Reinitialize Pose Corrector"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <with
                     variable="activeMenuSelection">
                   <iterate
                       ifEmpty="false"
                       operator="or">
                       <instanceof
                            value="ca.gc.asc_csa.symphony.tools.vehicle.WheeledVehiculePoseCorrector">
                       </instanceof>
                    </iterate>
                </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.symphony.tools.vehicle.ui.commands.PathPlannerToolReplanCommand"
               label="Re-Plan Path"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <with
                     variable="activeMenuSelection">
                   <iterate
                       ifEmpty="false"
                       operator="or">
                       <instanceof
                            value="ca.gc.asc_csa.symphony.tools.vehicle.PathPlannerTool">
                       </instanceof>
                   </iterate>
                </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.asc_csa.symphony.tools.vehicle.ui.adapters.LanderSphericalFootPresentationAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.asc_csa.symphony.tools.vehicle.ui.adapters.ThrusterPresentationAdapter">
      </Class>
   </extension>

</plugin>
