<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2.4.7 2015/08/13 19:12:08 pallard Exp $
-->

<plugin>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="ca.gc.asc_csa.apogy.common.geometry.data3d.ui"
            class="ca.gc.asc_csa.apogy.common.geometry.data3d.ui.provider.ApogyCommonGeometryData3DUIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated apogy_common_geometry_data3d_ui -->
      <extender
            uri="ca.gc.asc_csa.apogy.common.topology.ui"
            class="ca.gc.asc_csa.apogy.common.geometry.data3d.ui.provider.ApogyCommonGeometryData3DUIItemProviderAdapterFactory$ApogyCommonTopologyUIChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.apogy.common.topology"
            class="ca.gc.asc_csa.apogy.common.geometry.data3d.ui.provider.ApogyCommonGeometryData3DUIItemProviderAdapterFactory$ApogyCommonTopologyChildCreationExtender"/>
   </extension>

</plugin>
