<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2007.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:51:22 pallard Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="org.eclipse.symphony.addons.geometry.paths"
            class="org.eclipse.symphony.addons.geometry.paths.provider.Symphony__AddonsGeometryPathsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_addons_geometry_paths -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.geometry.paths.provider.Symphony__AddonsGeometryPathsItemProviderAdapterFactory$Symphony__CommonTopologyChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.geometry.data"
            class="org.eclipse.symphony.addons.geometry.paths.provider.Symphony__AddonsGeometryPathsItemProviderAdapterFactory$Symphony__CommonGeometryDataChildCreationExtender"/>
   </extension>

</plugin>
