<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension-point
         id="jme3Adapter"
         name="JME3Adapter"
         schema="schema/jme3Adapter.exsd">
   </extension-point>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.symphony.core.ui.category"
            class="org.eclipse.symphony.common.topology.ui.jme3.views.JME3Topology3DView"
            icon="icons/3d_topology_viewer.png"
            id="org.eclipse.symphony.common.topology.ui.jme3.views.JME3Topology3DView"
            name="3D Topology Viewer - JME3"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jme3 -->
      <package
            uri="org.eclipse.symphony.common.topology.ui.jme3"
            class="org.eclipse.symphony.common.topology.ui.jme3.Symphony__CommonTopologyUIJME3Package"
            genModel="model/symphony_common_topology_ui_jme3.xcore"/>
   </extension>
   
   <extension
         point="org.eclipse.symphony.common.topology.ui.jme3.jme3Adapter">
      <Class
            Class="org.eclipse.symphony.common.topology.ui.jme3.adapters.GroupNodeJME3Adapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.jme3.adapters.TransformNodeJME3Adapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.jme3.adapters.URLNodeJME3Adapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.jme3.adapters.DefaultNodeJME3Adapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.jme3.adapters.ReferencedGroupNodeJME3Adapter">
      </Class>
   </extension>
   <extension
         id="ObjToJ3oConverter"
         name="OBJ To J3O Converter"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.symphony.common.topology.ui.jme3.ObjToJ3oConverter">
         </run>
      </application>
   </extension>

</plugin>
