<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.5.4.2 2015/05/21 15:50:31 pallard Exp $
-->

<plugin>

   <extension
         point="org.eclipse.symphony.common.topology.ui.presentation">
      <Class
            Class="org.eclipse.symphony.addons.geometry.paths.ui.adapters.WayPointPathPresentationAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.addons.geometry.paths.ui.adapters.WayPointPresentationAdapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.symphony.addons.geometry.paths.ui.preferences.MRTPathsPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="org.eclipse.symphony.addons.geometry.paths.ui.preferences.MRTPathsPreferencesPage"
            id="org.eclipse.symphony.addons.geometry.paths.ui.preferences.MRTPathsPreferencesPage"
            name="Paths">
      </page>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.addons.geometry.paths.ui"
            class="org.eclipse.symphony.addons.geometry.paths.ui.Symphony__AddonsGeometryPathsUIPackage"
            genModel="model/symphony_addons_geometry_paths_ui.xcore"/>
   </extension>

</plugin>
