<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="ca.gc.space.mrt.geometry.data3d.persistence.PersistencePackage"
            genModel="model/Persistence.genmodel"
            uri="http:///ca/gc/space/mrt/geometry/data3d/persistence.ecore">
      </package>
   </extension>

</plugin>
