<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.symphony.common.topology.ui.graphicsContextAdapter">
      <Class
            Class="org.eclipse.symphony.common.geometry.data3d.pif.ui.adapters.GraphicsContextPifAdapter">
      </Class>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.symphony.common.geometry.data3d.pif.ui.handlers.PIFToXYZExportCommandHandler"
            id="org.eclipse.symphony.common.geometry.data3d.pif.ui.commands.PIFToXYZExportCommand"
            name="Export PIF To XYZ">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.symphony.core.ui.menu?after=additions">
         <command
               commandId="org.eclipse.symphony.common.geometry.data3d.pif.ui.commands.PIFToXYZExportCommand"
               label="Export PIF To XYZ"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <with
                     variable="activeMenuSelection">
                    <iterate
                       ifEmpty="false"
                       operator="or">
                        <instanceof
                             value="org.eclipse.core.resources.IFile">
                        </instanceof>
                    </iterate>
                </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
