<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.common.geometry.data3d.las"
            class="org.eclipse.symphony.common.geometry.data3d.las.LasPackage"
            genModel="model/symphony_common_geometry_data3d_las.xcore"/>
   </extension>

</plugin>
