<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated symphony_tools_vehicle -->
      <factory
            uri="org.eclipse.symphony.addons.vehicle"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_addons_vehicle -->
      <extender
            uri="org.eclipse.symphony.core"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$SymphonyCoreChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$Symphony__CommonTopologyChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology.bindings"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$TopologyBindingsChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.addons"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$Symphony__AddonsChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.addons.geometry.paths"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$Symphony__AddonsGeometryPathsChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_tools_vehicle -->
      <extender
            uri="org.eclipse.symphony.addons"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$SymphonyToolsCoreChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology.bindings"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$TopologyBindingsChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.core"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$SymphonyCoreChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.addons.geometry.paths"
            class="org.eclipse.symphony.addons.vehicle.provider.Symphony__AddonsVehicleItemProviderAdapterFactory$PathsChildCreationExtender"/>
   </extension>

</plugin>
