<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4.4.2 2015/05/21 15:49:51 pallard Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.addons.sensors.gps"
            class="org.eclipse.symphony.addons.sensors.gps.GpsPackage"
            genModel="model/GPS.xcore"/>
   </extension>

</plugin>
