<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2012 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="ca.gc.asc_csa.symphony.topology"
            class="ca.gc.asc_csa.symphony.topology.provider.SymphonyTopologyItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_topology -->
      <extender
            uri="ca.gc.asc_csa.symphony.core"
            class="ca.gc.asc_csa.symphony.topology.provider.SymphonyTopologyItemProviderAdapterFactory$SymphonyCoreChildCreationExtender"/>
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="ca.gc.asc_csa.symphony.topology.provider.SymphonyTopologyItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.topology.bindings"
            class="ca.gc.asc_csa.symphony.topology.provider.SymphonyTopologyItemProviderAdapterFactory$TopologyBindingsChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="ca.gc.asc_csa.symphony.topology.provider.SymphonyTopologyItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
