<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne - Copyright (c) 2015
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated emf_ecore_examples_lander -->
      <factory
            uri="org.eclipse.symphony.examples.lander"
            class="org.eclipse.symphony.examples.lander.provider.EMFEcoreExampleLanderItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_examples_lander -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.examples.lander.provider.EMFEcoreExampleLanderItemProviderAdapterFactory$Symphony__CommonTopologyChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated emf_ecore_examples_lander -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.examples.lander.provider.EMFEcoreExampleLanderItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
