<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ca.gc.asc_csa.apogy.common.topology.ui.jme3.jme3Adapter">
      <Class
            Class="ca.gc.asc_csa.apogy.core.environment.earth.surface.ui.jme3.adapters.EarthSkyNodeJME3Adapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.core.environment.earth.surface.ui.jme3.adapters.EarthSurfaceWorksiteNodeJME3Adapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.core.environment.earth.surface.ui.jme3.adapters.SunVector3DToolNodeJME3Adapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.gc.asc_csa.apogy.core.environment.earth.surface.ui.jme3.preferences.ApogyEarthSurfaceEnvironmentUIJME3Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.gc.asc_csa.apogy.core.environment.ui.preferences.ApogyEnvironmentSkyPreferencesPage"
            class="ca.gc.asc_csa.apogy.core.environment.earth.surface.ui.jme3.preferences.ApogyEarthSurfaceEnvironmentUIJME3PreferencesPage"
            id="ca.gc.asc_csa.apogy.core.environment.earth.surface.ui.jme3.sky"
            name="Earth Sky">
      </page>
   </extension>

</plugin>
