<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point
   		 id="org.eclipse.symphony.addons.sensors.sensorProvider"
   		 name="Sensor Provider"
   		 schema="schema/sensorProvider.exsd">
   </extension-point>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.symphony.addons.sensors.SensorsPackage"
            genModel="model/symphony_addons_sensors.xcore"
            uri="org.eclipse.symphony.addons.sensors">
      </package>
   </extension>

</plugin>
