<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_environment_orbit_earth -->
      <package
            uri="org.eclipse.symphony.core.environment.orbit.earth"
            class="org.eclipse.symphony.core.environment.orbit.earth.SymphonyEarthOrbitEnvironmentPackage"
            genModel="model/symphony_environment_orbit_earth.xcore"/>
   </extension>

</plugin>
