<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2007.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:51:25 pallard Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///ca/gc/space/mrt/sensors/fov/model/fov.ecore" 
       class = "ca.gc.space.mrt.sensors.fov.FovPackage"
       genModel = "model/fov.genmodel" /> 
  </extension>

</plugin>
