<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated emf_ecore_examples_satellite -->
      <factory
            uri="ca.gc.asc_csa.eclipse.emf.ecore.examples.satellite"
            class="ca.gc.asc_csa.eclipse.emf.ecore.examples.satellite.provider.EMFEcoreExampleSatelliteItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated emf_ecore_examples_satellite -->
      <extender
            uri="ca.gc.asc_csa.eclipse.emf.ecore.invocator"
            class="ca.gc.asc_csa.eclipse.emf.ecore.examples.satellite.provider.EMFEcoreExampleSatelliteItemProviderAdapterFactory$EMFEcoreInvocatorChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.topology.bindings"
            class="ca.gc.asc_csa.eclipse.emf.ecore.examples.satellite.provider.EMFEcoreExampleSatelliteItemProviderAdapterFactory$TopologyBindingsChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.symphony.core"
            class="ca.gc.asc_csa.eclipse.emf.ecore.examples.satellite.provider.EMFEcoreExampleSatelliteItemProviderAdapterFactory$SymphonyCoreChildCreationExtender"/>
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="ca.gc.asc_csa.eclipse.emf.ecore.examples.satellite.provider.EMFEcoreExampleSatelliteItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="ca.gc.space.mrt.sensors.imaging"
            class="ca.gc.asc_csa.eclipse.emf.ecore.examples.satellite.provider.EMFEcoreExampleSatelliteItemProviderAdapterFactory$MRTSensorsImagingChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.symphony.environment"
            class="ca.gc.asc_csa.eclipse.emf.ecore.examples.satellite.provider.EMFEcoreExampleSatelliteItemProviderAdapterFactory$SymphonyEnvironmentChildCreationExtender"/>
   </extension>

</plugin>
