<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.core.environment"
            class="org.eclipse.symphony.core.environment.Symphony__CoreEnvironmentPackage"
            genModel="model/symphony_core_environment.xcore"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.symphony.core.environment.commands.UpdateCartesianTriangularMeshMapLayerImageCommandHandler"
            id="org.eclipse.symphony.core.environment.commands.UpdateCartesianTriangularMeshMapLayerImageCommandHandler"
            name="Update Mesh Image">
      </command>
      <command
            defaultHandler="org.eclipse.symphony.core.environment.commands.UpdateImageMapLayerCommandHandler"
            id="org.eclipse.symphony.core.environment.commands.UpdateImageMapLayerCommandHandler"
            name="Update Image Map Layer">
      </command>
      <command
            defaultHandler="org.eclipse.symphony.core.environment.commands.ToggleCartesianTriangularMeshMapLayerVisibilityCommandHandler"
            id="org.eclipse.symphony.core.environment.commands.ToggleCartesianTriangularMeshMapLayerVisibilityCommandHandler"
            name="Toggle Mesh Layer Visibility">
      </command>
   </extension>
null
</plugin>
