<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2008.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:50:06 pallard Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.addons.sensors.range.ui"
            class="org.eclipse.symphony.addons.sensors.range.ui.Symphony__AddonsSensorsRangeUIPackage"
            genModel="model/symphony_addons_sensors_range_ui.xcore"/>
   </extension>
   <extension
         point="org.eclipse.symphony.common.topology.ui.presentation">
      <Class
            Class="org.eclipse.symphony.addons.sensors.range.ui.adapters.RasterScanDataPresentationAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.addons.sensors.range.ui.adapters.SimpleSonarPresentationAdapter">
      </Class>
   </extension>

</plugin>
