<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_common_math_statistics -->
      <package
            uri="ca.gc.asc_csa.apogy.common.math.statistics"
            class="ca.gc.asc_csa.apogy.common.math.statistics.ApogyCommonMathStatisticsPackage"
            genModel="model/apogy_common_math_statistics.xcore"/>
   </extension>

</plugin>
