<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc/toc.xml"
            primary="true">
      </toc>
      <toc
            file="toc/sub_tocs/developing_for_symphony/toc.xml"
            primary="false">
      </toc>
      <toc
            file="toc/sub_tocs/using_symphony/toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
