<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.symphony.common.emf.ui.TimeSourceCompositeProvider" name="TimeSourceCompositeProvider" schema="schema/org.eclipse.symphony.common.emf.ui.TimeSourceCompositeProvider.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <separator
               name="org.eclipse.symphony.common.emf.ui"
               visible="true">
         </separator>
         <separator
               name="org.eclipse.symphony.common.emf.ui.additions">
         </separator>
         <separator
               name="org.eclipse.symphony.common.emf.ui.end"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="org.eclipse.symphony.common.emf.ui"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertySection
               class="org.eclipse.symphony.common.emf.ui.properties.sections.NamedSection"
               id="org.eclipse.symphony.common.emf.ui.properties.sections.NamedSection"
               tab="org.eclipse.symphony.common.emf.ui.properties.tabs.General">
            <input
                  type="org.eclipse.symphony.common.emf.Named">
            </input>
         </propertySection>
         <propertySection
               afterSection="org.eclipse.symphony.common.emf.ui.properties.sections.NamedSection"
               class="org.eclipse.symphony.common.emf.ui.properties.sections.DescribedSection"
               id="org.eclipse.symphony.common.emf.ui.properties.sections.DescribedSection"
               tab="org.eclipse.symphony.common.emf.ui.properties.tabs.General">
            <input
                  type="org.eclipse.symphony.common.emf.Described">
            </input>
         </propertySection>
         
         <propertySection
               class="org.eclipse.symphony.common.emf.ui.properties.sections.EClassDocumentationSection"
               id="org.eclipse.symphony.common.emf.ui.properties.sections.EClassSection"
               tab="org.eclipse.symphony.common.emf.ui.properties.tabs.Documentation">
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>         
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="org.eclipse.symphony.common.emf.ui"
               id="org.eclipse.symphony.common.emf.ui.properties.tabs.General"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="org.eclipse.symphony.common.emf.ui"
               id="org.eclipse.symphony.common.emf.ui.properties.tabs.Documentation"
               label="EMF Documentation">
         </propertyTab>
      </propertyTabs>
   </extension>   
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eclipse_emf_ecore_ui -->
      <package
            uri="org.eclipse.symphony.common.emf.ui"
            class="org.eclipse.symphony.common.emf.ui.EMFEcoreUIPackage"
            genModel="model/eclipse_emf_ecore_ui.xcore"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.symphony.common.emf.ui.preferences.InvocatorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.gc.asc_csa.symphony.core.ui.preferences.SymphonyCorePreferencesPage"
            class="org.eclipse.symphony.common.emf.ui.preferences.InvocatorDisplayPreferencePage"
            id="org.eclipse.symphony.common.emf.ui.preferences.InvocatorDisplayPreferencePage"
            name="Ranges">
      </page>
      <page
            category="ca.gc.asc_csa.symphony.core.ui.preferences.SymphonyCorePreferencesPage"
            class="org.eclipse.symphony.common.emf.ui.preferences.InvocatorUnitsPreferencePage"
            id="org.eclipse.symphony.common.emf.ui.page1"
            name="Units">
      </page>
   </extension>
   <extension
         point="org.eclipse.symphony.common.emf.ui.TimeSourceCompositeProvider">
      <Class
            Class="org.eclipse.symphony.common.emf.ui.adapters.BrowseableTimeSourceTimeSourceCompositeProvider">
      </Class>
   </extension>
   <extension
         point="org.eclipse.symphony.common.emf.ui.TimeSourceCompositeProvider">
      <Class
            Class="org.eclipse.symphony.common.emf.ui.adapters.CurrentTimeSourceTimeSourceCompositeProvider">
      </Class>
   </extension>
   <extension
         point="org.eclipse.symphony.common.emf.ui.TimeSourceCompositeProvider">
      <Class
            Class="org.eclipse.symphony.common.emf.ui.adapters.FixedTimeSourceTimeSourceCompositeProvider">
      </Class>
   </extension>
   <extension
         point="org.eclipse.symphony.common.emf.ui.TimeSourceCompositeProvider">
      <Class
            Class="org.eclipse.symphony.common.emf.ui.adapters.SelectionBasedTimeSourceTimeSourceCompositeProvider">
      </Class>
   </extension>
   <extension
         point="org.eclipse.symphony.common.emf.ui.TimeSourceCompositeProvider">
      <Class
            Class="org.eclipse.symphony.common.emf.ui.adapters.CollectionTimeSourceTimeSourceCompositeProvider">
      </Class>
   </extension>

</plugin>
