<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ca.gc.asc_csa.apogy.addons.sensors.fov.bindings"
            class="ca.gc.asc_csa.apogy.addons.sensors.fov.bindings.ApogyAddonsSensorsFOVBindingsPackage"
            genModel="model/apogy_addons_sensors_fov_bindings.xcore"/>
   </extension>

</plugin>
