<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.addons.sensors.fov.bindings"
            class="org.eclipse.symphony.addons.sensors.fov.bindings.MRTFOVBindingsPackage"
            genModel="model/mrt_fov_bindings.xcore"/>
   </extension>

</plugin>
