<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->


<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ca.gc.asc_csa.apogy.examples.ui.category"
            class="ca.gc.asc_csa.apogy.examples.robotic_arm.ui.views.RoboticArmControlView"
            id="ca.gc.asc_csa.apogy.examples.robotic_arm.ui.views.RoboticArmControlView"
            name="Robotic Arm Control View"
            restorable="true">
      </view>
 
      <category
            id="ca.gc.asc_csa.apogy.examples.ui.category"
            name="Apogy Examples">
      </category>
   </extension>
   <extension
         point="ca.gc.asc_csa.apogy.common.converters">
      <new_element
            Class="ca.gc.asc_csa.apogy.examples.robotic_arm.ui.converters.VariableToRoboticArmConverter">
      </new_element>
   </extension>


</plugin>
