<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne Copyright (c) 2015
-->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.symphony.examples.ui.category"
            class="org.eclipse.symphony.examples.robotic_arm.ui.views.RoboticArmControlView"
            id="org.eclipse.symphony.examples.robotic_arm.ui.views.RoboticArmControlView"
            name="Robotic Arm Control View"
            restorable="true">
      </view>
 
      <category
            id="org.eclipse.symphony.examples.ui.category"
            name="Symphony Examples">
      </category>
   </extension>
   <extension
         point="org.eclipse.symphony.common.converters">
      <new_element
            Class="org.eclipse.symphony.examples.robotic_arm.ui.converters.VariableToRoboticArmConverter">
      </new_element>
   </extension>


</plugin>
