<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.symphony.examples.satellite.ui.commands.ExportSatelliteCommandListToFile"
            id="org.eclipse.symphony.examples.satellite.ui.commands.ExportSatelliteCommandListToFile"
            name="Export Satellite Command List to CSV File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.symphony.core.ui.menu?after=additions">
         <command
               commandId="org.eclipse.symphony.examples.satellite.ui.commands.ExportSatelliteCommandListToFile"
               label="Export Satellite Command List to CSV File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <iterate
                     ifEmpty="false">
                     <instanceof
                           value="org.eclipse.symphony.examples.satellite.SatelliteCommandList">
                     </instanceof>
                  </iterate>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
