<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->
<plugin>
   <extension-point
            id="ca.gc.asc_csa.apogy.common.converters"
            name="Converters"
            schema="schema/converters.exsd">
   </extension-point>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_common_converters -->
      <package
            uri="ca.gc.asc_csa.apogy.common.converters"
            class="ca.gc.asc_csa.apogy.common.converters.ApogyCommonConvertersPackage"
            genModel="model/apogy_common_converters.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_common_converters_graphs -->
      <package
            uri="ca.gc.asc_csa.apogy.common.converters.graphs"
            class="ca.gc.asc_csa.apogy.common.converters.graphs.ApogyCommonConvertersGraphsPackage"
            genModel="model/apogy_common_converters_graphs.xcore"/>
   </extension>

</plugin>
