<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ca.gc.asc_csa.topology.ui.jme3.JME3Adapter">
      <Class
            Class="org.eclipse.symphony.common.geometry.data3d.ui.jme3.adapters.TriangularMeshJME3Adapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.asc_csa.topology.ui.jme3.JME3Adapter">
      <Class
            Class="org.eclipse.symphony.common.geometry.data3d.ui.jme3.adapters.CartesianCoordinateSetJME3Adapter">
      </Class>
   </extension>

</plugin>
