<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2007.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:51:20 pallard Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "org.eclipse.symphony.common.geometry.data25d" 
       class = "org.eclipse.symphony.common.geometry.data25d.Data25dPackage"
       genModel = "model/symphony_common_geometry_data25d.xcore" /> 
  </extension>

</plugin>
