<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_tools_vehicle -->
      <package
            uri="ca.gc.asc_csa.symphony.tools.vehicle"
            class="ca.gc.asc_csa.symphony.tools.vehicle.SymphonyToolsVehiclePackage"
            genModel="model/symphony_tools_vehicle.xcore"/>
   </extension>

</plugin>
