<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_addons_mobility_pathplanners -->
      <package
            uri="org.eclipse.symphony.addons.mobility.pathplanners"
            class="org.eclipse.symphony.addons.mobility.pathplanners.PathplannersPackage"
            genModel="model/symphony_addons_mobility_pathplanners.xcore"/>
   </extension>

</plugin>
