<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2012 Copyrights (c)
-->

<plugin>
   <extension-point
           id="csvAdapter"
           name="CSV Adapter"
           schema="schema/csvAdapter.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.core.recordings"
            class="org.eclipse.symphony.core.recordings.EMFEcoreInvocatorRecordingsPackage"
            genModel="model/eclipse_emf_ecore_invocator_recordings.xcore"/>
   </extension>
   
   <extension
         point="org.eclipse.symphony.core.recordings.csvAdapter">
      <Class
            Class="org.eclipse.symphony.core.recordings.csv.NumberCSVAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.core.recordings.csv.DateCSVAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.core.recordings.csv.EObjectCSVAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.core.recordings.csv.StringCSVAdapter">
      </Class>
   </extension>

</plugin>
