<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2007.
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///ca/gc/space/mrt/sensors/fov/model/fov.ecore"
            class="org.eclipse.symphony.addons.sensors.fov.provider.FovItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="org.eclipse.symphony.addons.sensors.fov.provider.FovItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
