<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated symphony_tools_vehicle_ui -->
      <factory
            uri="org.eclipse.symphony.addons.vehicle.ui"
            class="org.eclipse.symphony.addons.vehicle.ui.provider.SymphonyToolsVehicleUIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_tools_vehicle_ui -->
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="org.eclipse.symphony.addons.vehicle.ui.provider.SymphonyToolsVehicleUIItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="ca.gc.space.topology.ui"
            class="org.eclipse.symphony.addons.vehicle.ui.provider.SymphonyToolsVehicleUIItemProviderAdapterFactory$TopologyUIChildCreationExtender"/>
   </extension>

</plugin>
