<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne Copyright (c) 2015
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_examples_robotic_arm -->
      <package
            uri="org.eclipse.symphony.examples.robotic_arm.symphony"
            class="org.eclipse.symphony.examples.robotic_arm.symphony.SymphonyExampleRoboticArmPackage"
            genModel="model/symphony_examples_robotic_arm.xcore"/>
   </extension>
   <extension
         point="ca.gc.asc_csa.eclipse.emf.ecore.invocator.TypeContributor">
      <Type
            URI="model/RoboticArmSymphonySystem.ss">
      </Type>
   </extension>
   <extension
         point="ca.gc.asc_csa.eclipse.emf.ecore.invocator.SessionProvider">
      <SessionProvider
            Description="Session showing the use of the Robotic Arm example system."
            Name="Robotic Arm Example"
            URI="sessions/RoboticArmExampleSession.sym">
      </SessionProvider>
   </extension>   

</plugin>
