<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated symphony_environment_orbit_earth -->
      <factory
            uri="ca.gc.asc_csa.symphony.environment.orbit.earth"
            class="ca.gc.asc_csa.symphony.environment.orbit.earth.provider.SymphonyEarthOrbitEnvironmentItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_environment_orbit_earth -->
      <extender
            uri="ca.gc.asc_csa.symphony.environment.orbit"
            class="ca.gc.asc_csa.symphony.environment.orbit.earth.provider.SymphonyEarthOrbitEnvironmentItemProviderAdapterFactory$SymphonyOrbitEnvironmentChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.symphony.core"
            class="ca.gc.asc_csa.symphony.environment.orbit.earth.provider.SymphonyEarthOrbitEnvironmentItemProviderAdapterFactory$SymphonyCoreChildCreationExtender"/>
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="ca.gc.asc_csa.symphony.environment.orbit.earth.provider.SymphonyEarthOrbitEnvironmentItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.symphony.environment"
            class="ca.gc.asc_csa.symphony.environment.orbit.earth.provider.SymphonyEarthOrbitEnvironmentItemProviderAdapterFactory$SymphonyEnvironmentChildCreationExtender"/>
   </extension>

</plugin>
