<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="org.eclipse.symphony.common.math.ui.property.category.Default"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="org.eclipse.symphony.common.math.ui.property.category.Default"
               id="org.eclipse.symphony.common.math.ui.property.tab.Matrix4x4"
               label="Matrix 4x4">
         </propertyTab>
         <propertyTab
               category="org.eclipse.symphony.common.math.ui.property.category.Default"
               id="org.eclipse.symphony.common.math.ui.property.tab.TransformMatrix"
               label="Transform">
         </propertyTab>
         <propertyTab
               category="org.eclipse.symphony.common.math.ui.property.category.Default"
               id="org.eclipse.symphony.common.math.ui.property.tab.Matrix3x3"
               label="Matrix 3x3">
         </propertyTab>
         <propertyTab
               category="org.eclipse.symphony.common.math.ui.property.category.Default"
               id="org.eclipse.symphony.common.math.ui.property.tab.Rotation"
               label="Rotation">
         </propertyTab>         
      </propertyTabs>      
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertySection
               class="org.eclipse.symphony.common.math.ui.properties.sections.Matrix4x4PropertySection"
               id="org.eclipse.symphony.common.math.ui.property.section.Matrix4x4"
               tab="org.eclipse.symphony.common.math.ui.property.tab.Matrix4x4">
            <input
                  type="org.eclipse.symphony.common.math.Matrix4x4">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.symphony.common.math.ui.properties.sections.TransformMatrixPropertySection"
               id="org.eclipse.symphony.common.math.ui.property.section.TransformMatrix"
               tab="org.eclipse.symphony.common.math.ui.property.tab.TransformMatrix">
            <input
                  type="org.eclipse.symphony.common.math.Matrix4x4">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.symphony.common.math.ui.properties.sections.Matrix3x3PropertySection"
               id="org.eclipse.symphony.common.math.ui.property.section.Matrix3x3"
               tab="org.eclipse.symphony.common.math.ui.property.tab.Matrix3x3">
            <input
                  type="org.eclipse.symphony.common.math.Matrix3x3">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.symphony.common.math.ui.properties.sections.RotationPropertySection"
               id="org.eclipse.symphony.common.math.ui.property.section.Rotation"
               tab="org.eclipse.symphony.common.math.ui.property.tab.Rotation">
            <input
                  type="org.eclipse.symphony.common.math.Matrix3x3">
            </input>
         </propertySection>         
      </propertySections>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated space_math_ui -->
      <package
            uri="org.eclipse.symphony.common.math.ui"
            class="org.eclipse.symphony.common.math.ui.MathUIPackage"
            genModel="model/space_math_ui.xcore"/>
   </extension>

</plugin>
