<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2.4.3 2015/05/21 18:08:15 pallard Exp $
-->

<plugin>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated ca_gc_asc_csa_mrt_sensors_imaging_ui -->
      <factory
            uri="ca.gc.space.mrt.sensors.imaging.ui"
            class="ca.gc.space.mrt.sensors.imaging.ui.provider.MRTSensorsImagingUIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated ca_gc_asc_csa_mrt_sensors_imaging_ui -->
      <extender
            uri="ca.gc.space.topology.ui"
            class="ca.gc.space.mrt.sensors.imaging.ui.provider.MRTSensorsImagingUIItemProviderAdapterFactory$TopologyUIChildCreationExtender"/>
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="ca.gc.space.mrt.sensors.imaging.ui.provider.MRTSensorsImagingUIItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
