<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated symphony_tools_telecoms_ui -->
      <factory
            uri="org.eclipse.symphony.addons.telecoms.ui"
            class="org.eclipse.symphony.addons.telecoms.ui.provider.SymphonyTelecomToolsUIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_tools_telecoms_ui -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.telecoms.ui.provider.SymphonyTelecomToolsUIItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology.ui"
            class="org.eclipse.symphony.addons.telecoms.ui.provider.SymphonyTelecomToolsUIItemProviderAdapterFactory$TopologyUIChildCreationExtender"/>
   </extension>

</plugin>
