<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2012 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="org.eclipse.symphony.core.invocator"
            class="org.eclipse.symphony.core.invocator.provider.Symphony__CoreInvocatorItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_core_invocator -->
      <extender
            uri="org.eclipse.symphony.common.emf"
            class="org.eclipse.symphony.core.invocator.provider.Symphony__CoreInvocatorItemProviderAdapterFactory$Symphony__CommonEMFChildCreationExtender"/>
   </extension>
</plugin>
