<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2015 Copyrights (c)
-->

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.symphony.core.ui.category"
            class="org.eclipse.symphony.addons.sensors.imaging.camera.views.CameraView"
            icon="icons/CameraView.gif"
            id="org.eclipse.symphony.addons.sensors.imaging.camera.views.CameraView"
            name="Symphony Camera View"
            restorable="true">
      </view>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_tools_camera -->
      <package
            uri="org.eclipse.symphony.addons.sensors.imaging.camera"
            class="org.eclipse.symphony.addons.sensors.imaging.camera.SymphonyCameraToolsPackage"
            genModel="model/symphony_tools_camera.xcore"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.symphony.addons.sensors.imaging.camera.commands.ToggleImageFilterEnableCommand"
            id="org.eclipse.symphony.addons.sensors.imaging.camera.commands.ToggleImageFilterEnableCommand"
            name="Toggle Image Filter">
      </command>
      <command
            defaultHandler="org.eclipse.symphony.addons.sensors.imaging.camera.commands.ToggleCameraImageAnnotationVisibilityCommand"
            id="org.eclipse.symphony.addons.sensors.imaging.camera.commands.ToggleCameraOverlayVisibilityCommand"
            name="Toggle Camera Image Annotation Visibility">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.symphony.core.ui.menu?after=additions">
         <command
               commandId="org.eclipse.symphony.addons.sensors.imaging.camera.commands.ToggleImageFilterEnableCommand"
               label="Toggle Image Filter"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                     ifEmpty="false"
                     operator="or">
                    <instanceof
                          value="org.eclipse.symphony.addons.sensors.imaging.camera.ImageFilter">
                    </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.symphony.addons.sensors.imaging.camera.commands.ToggleCameraOverlayVisibilityCommand"
               label="Toggle Visibility"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                      ifEmpty="false"
                      operator="or">
                     <instanceof
                           value="org.eclipse.symphony.addons.sensors.imaging.camera.CameraImageAnnotation">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
