<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->


<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="ca.gc.asc_csa.apogy.addons.ui.category"
            class="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.views.CameraView"
            icon="icons/CameraView.gif"
            id="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.views.CameraView"
            name="Apogy Camera View"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_tools_camera -->
      <package
            uri="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera"
            class="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.ApogyAddonsSensorsImagingCameraPackage"
            genModel="model/apogy_addons_imaging_camera.xcore"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.commands.ToggleImageFilterEnableCommand"
            id="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.commands.ToggleImageFilterEnableCommand"
            name="Toggle Image Filter">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.commands.ToggleCameraImageAnnotationVisibilityCommand"
            id="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.commands.ToggleCameraOverlayVisibilityCommand"
            name="Toggle Camera Image Annotation Visibility">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ca.gc.asc_csa.apogy.core.ui.menu?after=additions">
         <command
               commandId="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.commands.ToggleImageFilterEnableCommand"
               label="Toggle Image Filter"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                     ifEmpty="false"
                     operator="or">
                    <instanceof
                          value="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.ImageFilter">
                    </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.commands.ToggleCameraOverlayVisibilityCommand"
               label="Toggle Visibility"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                      ifEmpty="false"
                      operator="or">
                     <instanceof
                           value="ca.gc.asc_csa.apogy.addons.sensors.imaging.camera.CameraImageAnnotation">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
