<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_tools_telecoms -->
      <package
            uri="org.eclipse.symphony.addons.telecoms"
            class="org.eclipse.symphony.addons.telecoms.Symphony__AddonsTelecomsPackage"
            genModel="model/symphony_addons_telecoms.xcore"/>
   </extension>

</plugin>
