<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2008.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:51:26 pallard Exp $
-->

<plugin>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated mrt_data25d_ui -->
      <factory
            uri="org.eclipse.symphony.common.geometry.data25d.ui"
            class="org.eclipse.symphony.common.geometry.data25d.ui.provider.Data25DUIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated mrt_data25d_ui -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.common.geometry.data25d.ui.provider.Data25DUIItemProviderAdapterFactory$TopologyChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology.ui"
            class="org.eclipse.symphony.common.geometry.data25d.ui.provider.Data25DUIItemProviderAdapterFactory$TopologyUIChildCreationExtender"/>
   </extension>

</plugin>
