<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne Copyright (c) 2015
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated apogy_examples_mobile_platform -->
      <factory
            uri="ca.gc.asc_csa.apogy.examples.mobile_platform.apogy"
            class="ca.gc.asc_csa.apogy.examples.mobile_platform.apogy.provider.ApogyExamplesMobilePlatformApogyItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated apogy_examples_mobile_platform_apogy -->
      <extender
            uri="ca.gc.asc_csa.apogy.core.invocator"
            class="ca.gc.asc_csa.apogy.examples.mobile_platform.apogy.provider.ApogyExamplesMobilePlatformApogyItemProviderAdapterFactory$ApogyCoreInvocatorChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.apogy.core.environment.ui"
            class="ca.gc.asc_csa.apogy.examples.mobile_platform.apogy.provider.ApogyExamplesMobilePlatformApogyItemProviderAdapterFactory$ApogyCoreEnvironmentUIChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.apogy.common.topology"
            class="ca.gc.asc_csa.apogy.examples.mobile_platform.apogy.provider.ApogyExamplesMobilePlatformApogyItemProviderAdapterFactory$ApogyCommonTopologyChildCreationExtender"/>
   </extension>

</plugin>
