<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2007.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:50:03 pallard Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///ca/gc/space/mrt/geometry/data25d/model/data25d.ecore"
            class="ca.gc.space.mrt.geometry.data25d.provider.Data25dItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated mrt_geometry_data25d -->
      <extender
            uri="ca.gc.space.mrt.geometry.data"
            class="ca.gc.space.mrt.geometry.data25d.provider.Data25dItemProviderAdapterFactory$DataChildCreationExtender"/>
   </extension>

</plugin>
