<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2012 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.symphony.core.invocator.presentation.Symphony__CoreInvocatorModelWizardID"
            name="%_UI_Symphony__CoreInvocatorModelWizard_label"
            class="org.eclipse.symphony.core.invocator.presentation.Symphony__CoreInvocatorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Symphony__CoreInvocatorModelFile.gif">
         <description>%_UI_Symphony__CoreInvocatorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.symphony.core.invocator.presentation.Symphony__CoreInvocatorEditorID"
            name="%_UI_Symphony__CoreInvocatorEditor_label"
            icon="platform:/plugin/org.eclipse.symphony.core.ui/icons/symphony_logo_16x16.gif"
            extensions="ei, ss, sym"
            class="org.eclipse.symphony.core.invocator.presentation.CustomSymphony__CoreInvocatorEditor"
            contributorClass="org.eclipse.symphony.core.invocator.presentation.Symphony__CoreInvocatorActionBarContributor">
      </editor>
   </extension>

null
null</plugin>
