<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point
   		id="org.eclipse.symphony.common.topology.ui.presentation"
   		name="Presentation Adapter"
   		schema="schema/presentation.exsd">
   </extension-point>
   
   <extension-point
   		id="org.eclipse.symphony.common.topology.ui.graphicsContextAdapter"
   		name="Graphics Context Adapter"
   		schema="schema/graphicsContextAdapter.exsd">
   </extension-point>
   
   <extension
         point="org.eclipse.symphony.common.topology.ui.presentation">
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.GroupNodePresentationAdapter">
      </Class>
            <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.TransformNodePresentationAdapter">
      </Class>
            <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.DefaultNodePresentationAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.RotationNodePresentationAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.PositionNodePresentationAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.ReferencedGroupNodePresentationAdapter">
      </Class> 
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.URLNodePresentationAdapter">
      </Class>     
   </extension>
   <extension
         point="org.eclipse.symphony.common.topology.ui.graphicsContextAdapter">
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.VRMLGraphicsContextAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.OBJGraphicsContextAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.TopoFileGraphicsContextAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.common.topology.ui.adapters.GraphicsContextGraphicsContextAdapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.symphony.common.converters">
      <new_element
         Class="org.eclipse.symphony.common.topology.ui.converters.NodeToNodePresentationConverter">
      </new_element>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="org.eclipse.symphony.common.topology.ui.preferences.TopologyUIPreferencesPage"
            id="org.eclipse.symphony.common.topology.ui.preferences.TopologyUIPreferencesPage"
            name="Transforms and URL Nodes">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.symphony.common.topology.ui.preferences.TopologyUIPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="org.eclipse.symphony.common.topology.ui.property.category.Default">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertySection
               class="org.eclipse.symphony.common.topology.ui.properties.sections.PositionNodePropertySection"
               id="org.eclipse.symphony.common.topology.ui.property.section.PositionNode"
               tab="org.eclipse.symphony.common.topology.ui.property.tab.PositionNode">
            <input
                  type="org.eclipse.symphony.common.topology.PositionNode">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.symphony.common.topology.ui.properties.sections.RotationNodePropertySection"
               id="org.eclipse.symphony.common.topology.ui.property.section.RotationNode"
               tab="org.eclipse.symphony.common.topology.ui.property.tab.RotationNode">
            <input
                  type="org.eclipse.symphony.common.topology.RotationNode">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.symphony.common.topology.ui.properties.sections.NodePresentationPropertySection"
               filter="org.eclipse.symphony.common.topology.ui.properties.sections.NodePresentationPropertySection"
               id="org.eclipse.symphony.common.topology.ui.property.section.NodePresentation"
               tab="org.eclipse.symphony.common.topology.ui.property.tab.NodePresentation">
            <input
                  type="org.eclipse.symphony.common.topology.Node">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="org.eclipse.symphony.common.topology.ui.property.category.Default"
               id="org.eclipse.symphony.common.topology.ui.property.tab.PositionNode"
               label="Position">
         </propertyTab>
         <propertyTab
               category="org.eclipse.symphony.common.topology.ui.property.category.Default"
               id="org.eclipse.symphony.common.topology.ui.property.tab.RotationNode"
               label="Rotation">
         </propertyTab>
         <propertyTab
               category="org.eclipse.symphony.common.topology.ui.property.category.Default"
               id="org.eclipse.symphony.common.topology.ui.property.tab.NodePresentation"
               label="Presentation">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.symphony.core.ui.category"
            class="org.eclipse.symphony.common.topology.ui.views.NodesDistanceView"
            icon="icons/NodesDistanceView.gif"
            id="org.eclipse.symphony.common.topology.ui.views.NodesDistanceView"
            name="NodesDistanceView"
            restorable="true">
      </view>
      <view
            category="org.eclipse.symphony.core.ui.category"
            class="org.eclipse.symphony.common.topology.ui.views.TopologyPresentationRegistryView"
            id="org.eclipse.symphony.common.topology.ui.views.TopologyPresentationRegistryView"
            name="TopologyPresentationRegistryView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.symphony.common.topology.ui.commands.ToggleNodeVisibilityCommand"
            id="org.eclipse.symphony.common.topology.ui.commands.ToggleNodeVisibilityCommand"
            name="Toggle Node Visibility">
      </command>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.common.topology.ui"
            class="org.eclipse.symphony.common.topology.ui.Symphony__CommonTopologyUIPackage"
            genModel="model/symphony_common_topology_ui.xcore"/>
   </extension>
</plugin>
