<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->
<plugin>

   <extension-point
   		id="ca.gc.asc_csa.apogy.common.topology.ui.presentation"
   		name="Presentation Adapter"
   		schema="schema/presentation.exsd">
   </extension-point>
   
   <extension-point
   		id="ca.gc.asc_csa.apogy.common.topology.ui.graphicsContextAdapter"
   		name="Graphics Context Adapter"
   		schema="schema/graphicsContextAdapter.exsd">
   </extension-point>
   
   <extension
         point="ca.gc.asc_csa.apogy.common.topology.ui.presentation">
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.GroupNodePresentationAdapter">
      </Class>
            <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.TransformNodePresentationAdapter">
      </Class>
            <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.DefaultNodePresentationAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.RotationNodePresentationAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.PositionNodePresentationAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.ReferencedGroupNodePresentationAdapter">
      </Class> 
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.URLNodePresentationAdapter">
      </Class>     
   </extension>
   <extension
         point="ca.gc.asc_csa.apogy.common.topology.ui.graphicsContextAdapter">
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.VRMLGraphicsContextAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.OBJGraphicsContextAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.TopoFileGraphicsContextAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.common.topology.ui.adapters.GraphicsContextGraphicsContextAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.asc_csa.apogy.common.converters">
      <new_element
         Class="ca.gc.asc_csa.apogy.common.topology.ui.converters.NodeToNodePresentationConverter">
      </new_element>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.gc.asc_csa.apogy.common.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="ca.gc.asc_csa.apogy.common.topology.ui.preferences.TopologyUIPreferencesPage"
            id="ca.gc.asc_csa.apogy.common.topology.ui.preferences.TopologyUIPreferencesPage"
            name="Transforms and URL Nodes">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.gc.asc_csa.apogy.common.topology.ui.preferences.TopologyUIPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ca.gc.asc_csa.apogy.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="ca.gc.asc_csa.apogy.common.topology.ui.property.category.Default">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ca.gc.asc_csa.apogy.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertySection
               class="ca.gc.asc_csa.apogy.common.topology.ui.properties.sections.PositionNodePropertySection"
               id="ca.gc.asc_csa.apogy.common.topology.ui.property.section.PositionNode"
               tab="ca.gc.asc_csa.apogy.common.topology.ui.property.tab.PositionNode">
            <input
                  type="ca.gc.asc_csa.apogy.common.topology.PositionNode">
            </input>
         </propertySection>
         <propertySection
               class="ca.gc.asc_csa.apogy.common.topology.ui.properties.sections.RotationNodePropertySection"
               id="ca.gc.asc_csa.apogy.common.topology.ui.property.section.RotationNode"
               tab="ca.gc.asc_csa.apogy.common.topology.ui.property.tab.RotationNode">
            <input
                  type="ca.gc.asc_csa.apogy.common.topology.RotationNode">
            </input>
         </propertySection>
         <propertySection
               class="ca.gc.asc_csa.apogy.common.topology.ui.properties.sections.NodePresentationPropertySection"
               filter="ca.gc.asc_csa.apogy.common.topology.ui.properties.sections.NodePresentationPropertySection"
               id="ca.gc.asc_csa.apogy.common.topology.ui.property.section.NodePresentation"
               tab="ca.gc.asc_csa.apogy.common.topology.ui.property.tab.NodePresentation">
            <input
                  type="ca.gc.asc_csa.apogy.common.topology.Node">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ca.gc.asc_csa.apogy.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="ca.gc.asc_csa.apogy.common.topology.ui.property.category.Default"
               id="ca.gc.asc_csa.apogy.common.topology.ui.property.tab.PositionNode"
               label="Position">
         </propertyTab>
         <propertyTab
               category="ca.gc.asc_csa.apogy.common.topology.ui.property.category.Default"
               id="ca.gc.asc_csa.apogy.common.topology.ui.property.tab.RotationNode"
               label="Rotation">
         </propertyTab>
         <propertyTab
               category="ca.gc.asc_csa.apogy.common.topology.ui.property.category.Default"
               id="ca.gc.asc_csa.apogy.common.topology.ui.property.tab.NodePresentation"
               label="Presentation">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ca.gc.asc_csa.apogy.core.ui.category"
            class="ca.gc.asc_csa.apogy.common.topology.ui.views.NodesDistanceView"
            icon="icons/NodesDistanceView.gif"
            id="ca.gc.asc_csa.apogy.common.topology.ui.views.NodesDistanceView"
            name="NodesDistanceView"
            restorable="true">
      </view>
      <view
            category="ca.gc.asc_csa.apogy.core.ui.category"
            class="ca.gc.asc_csa.apogy.common.topology.ui.views.TopologyPresentationRegistryView"
            id="ca.gc.asc_csa.apogy.common.topology.ui.views.TopologyPresentationRegistryView"
            name="TopologyPresentationRegistryView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.gc.asc_csa.apogy.common.topology.ui.commands.ToggleNodeVisibilityCommand"
            id="ca.gc.asc_csa.apogy.common.topology.ui.commands.ToggleNodeVisibilityCommand"
            name="Toggle Node Visibility">
      </command>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ca.gc.asc_csa.apogy.common.topology.ui"
            class="ca.gc.asc_csa.apogy.common.topology.ui.ApogyCommonTopologyUIPackage"
            genModel="model/apogy_common_topology_ui.xcore"/>
   </extension>
</plugin>
