<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2012 Copyrights (c)
-->

<plugin>
   <extension-point id="CSVAdapter" name="CSVAdapter" schema="schema/CSVAdapter.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings"
            class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.EMFEcoreInvocatorRecordingsPackage"
            genModel="model/eclipse_emf_ecore_invocator_recordings.xcore"/>
   </extension>
   <extension
         point="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.CSVAdapter">
      <Class
            Class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.csv.NumberCSVAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.csv.DateCSVAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.csv.EObjectCSVAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.csv.StringCSVAdapter">
      </Class>
   </extension>

</plugin>
