<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.StartRecorderCommand"
            id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.StartRecorderCommand"
            name="StartRecorderCommand">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.StopRecorderCommand"
            id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.StopRecorderCommand"
            name="StopRecorderCommand">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.PauseRecorderCommand"
            id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.PauseRecorderCommand"
            name="PauseRecorderCommand">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.ResumeRecorderCommand"
            id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.ResumeRecorderCommand"
            name="ResumeRecorderCommand">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.ExportToCSVCommand"
            id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.ExportToCSVCommand"
            name="ExportToCSVCommand">
      </command> 
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ca.gc.asc_csa.symphony.ui.menu?after=additions">
         <command
               commandId="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.StartRecorderCommand"
               label="Start Recorder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <and>
                  	 <count value="1"/>
                     <iterate
                       ifEmpty="false"
                       operator="or">
                         <instanceof
                             value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.Recorder">
                         </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.StopRecorderCommand"
               label="Stop Recorder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <and>
                     <count value="1"/>
                     <iterate
                        ifEmpty="false"
                        operator="or">
                           <instanceof
                              value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.Recorder">
                           </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.PauseRecorderCommand"
               label="Pause Recorder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <and>
                     <count value="1"/>
                     <iterate
                        ifEmpty="false"
                        operator="or">
                          <instanceof
                             value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.Recorder">
                          </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.ResumeRecorderCommand"
               label="Resume Recorder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <and>
                     <count value="1"/>
                     <iterate
                        ifEmpty="false"
                        operator="or">
                         <instanceof
                            value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.Recorder">
                         </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
                 <command
               commandId="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.commands.ExportToCSVCommand"
               label="Export Channel To CSV"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <or>
                     <and>
                        <count value="1"/>
                        <iterate
                           ifEmpty="false"
                           operator="or">
                             <instanceof
                                value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.RecordingTrack">
                             </instanceof>
                        </iterate>
                     </and>
                     <and>
                        <count value="1"/>
                        <iterate
                           ifEmpty="false"
                           operator="or">
                             <instanceof
                                 value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.Recording">
                             </instanceof>
                         </iterate>
                     </and>
                  </or>
               </with>   
            </visibleWhen>
             </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.category.Default"
               id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.property.tab.RecordingTrack"
               label="Plot">
         </propertyTab>
         <propertyTab
               category="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.category.Default"
               id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.property.tab.Player"
               label="Controls">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertySection
               class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.properties.sections.RecordingTrackPropertySection"
               id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.property.section.RecordingTrack"
               tab="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.property.tab.RecordingTrack">
            <input
                  type="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.RecordingTrack">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="ca.gc.asc_csa.eclipse.emf.ecore.invocator.recordings.ui.category.Default"></propertyCategory>
      </propertyContributor>
   </extension>

</plugin>
