<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated topology_bindings -->
      <factory
            uri="ca.gc.asc_csa.topology.bindings"
            class="ca.gc.asc_csa.topology.bindings.provider.TopologyBindingsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated topology_bindings -->
      <extender
            uri="ca.gc.space.topology"
            class="ca.gc.asc_csa.topology.bindings.provider.TopologyBindingsItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
