<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="InvocatorDelegate" name="InvocatorDelegate" schema="schema/InvocatorDelegate.exsd"/>
   <extension-point id="TypeContributor" name="TypeContributor" schema="schema/TypeContributor.exsd"/>
   <extension-point id="SessionProvider" name="SessionProvider" schema="schema/SessionProvider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.core.invocator"
            class="org.eclipse.symphony.core.invocator.EMFEcoreInvocatorPackage"
            genModel="model/eclipse_emf_ecore_invocator.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated eclipse_emf_ecore_invocator -->
      <parser
            type="sym"
            class="org.eclipse.symphony.core.invocator.util.EMFEcoreInvocatorResourceFactoryImpl"/>
   </extension>

   <extension
         point="org.eclipse.symphony.core.invocator.InvocatorDelegate">
      <element
            invocatorDelegateClass="org.eclipse.symphony.core.invocator.delegates.DefaultInvocatorDelegate">
      </element>
   </extension>

</plugin>
