<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.symphony.addons.ui.category"
            class="org.eclipse.symphony.addons.telecoms.ui.views.TelecomStatusMonitorToolView"
            id="org.eclipse.symphony.addons.telecoms.ui.views.TelecomStatusMonitorToolView"
            name="Telecom Status Monitor View"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_tools_telecoms_ui -->
      <package
            uri="org.eclipse.symphony.addons.telecoms.ui"
            class="org.eclipse.symphony.addons.telecoms.ui.SymphonyTelecomToolsUIPackage"
            genModel="model/symphony_addons_telecoms_ui.xcore"/>
   </extension>
   <extension
         point="org.eclipse.symphony.common.topology.ui.presentation">
      <Class
            Class="org.eclipse.symphony.addons.telecoms.ui.adapters.AbstractAntennaRadiationPatternAdapter">
      </Class>
   </extension>

</plugin>
