<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyrights Canadian Space Agency 2012.
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://ca/gc/asc_csa/topology/dynamics/model/topology_dynamics.ecore"
            class="org.eclipse.symphony.common.topology.addons.dynamics.provider.TopologyDynamicsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="org.eclipse.symphony.common.topology.addons.dynamics.provider.TopologyDynamicsItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
