<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyrights Canadian Space Agency 2012.
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="org.eclipse.symphony.common.topology.addons,dynamics"
            class="org.eclipse.symphony.common.topology.addons.dynamics.provider.Symphony__CommonTopologyDynamicsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_common_topology_addons_dynamics -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.common.topology.addons.dynamics.provider.Symphony__CommonTopologyDynamicsItemProviderAdapterFactory$Symphony__CommonTopologyChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="org.eclipse.symphony.common.topology.addons.dynamics"
            class="org.eclipse.symphony.common.topology.addons.dynamics.provider.Symphony__CommonTopologyDynamicsItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
