<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2008.

 $Id: plugin.xml,v 1.2.2.2.2.3 2015/09/22 18:32:45 rlarcheveque Exp $
-->

<plugin>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated topology_primitives_ui -->
      <factory
            uri="org.eclipse.symphony.common.topology.addons.primitives.ui"
            class="org.eclipse.symphony.common.topology.addons.primitives.ui.provider.TopologyUIPrimitivesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated topology_primitives_ui -->
      <extender
            uri="org.eclipse.symphony.common.topology.ui"
            class="org.eclipse.symphony.common.topology.addons.primitives.ui.provider.TopologyUIPrimitivesItemProviderAdapterFactory$TopologyUIChildCreationExtender"/>
   </extension>

</plugin>
