<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ca.gc.asc_csa.apogy.core.ui.category"
            class="ca.gc.asc_csa.apogy.core.environment.orbit.earth.ui.views.EarthView"
            id="ca.gc.asc_csa.apogy.core.environment.orbit.earth.ui.view1"
            name="Earth View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ca.gc.asc_csa.apogy.core.ui.category"
            class="ca.gc.asc_csa.apogy.core.environment.orbit.earth.ui.views.SpacecraftVisibilitySetView"
            id="ca.gc.asc_csa.apogy.core.environment.orbit.earth.ui.views.SpacecraftVisibilitySetView"
            name="Spacecraft Visibility"
            restorable="true">
      </view>
      <view
            category="ca.gc.asc_csa.apogy.core.ui.category"
            class="ca.gc.asc_csa.apogy.core.environment.orbit.earth.ui.views.VisibilityPassSpacecraftPositionHistoryView"
            id="ca.gc.asc_csa.apogy.core.environment.orbit.earth.ui.views.VisibilityPassSpacecraftPositionHistoryView"
            name="Visibility Pass View"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_environment_orbit_earth_ui -->
      <package
            uri="ca.gc.asc_csa.apogy.core.environment.orbit.earth.ui"
            class="ca.gc.asc_csa.apogy.core.environment.orbit.earth.ui.ApogyCoreEnvironmentOrbitEarthUIPackage"
            genModel="model/apogy_core_environment_orbit_earth_ui.xcore"/>
   </extension>

</plugin>
