<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->


<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_tools_vehicle_ui -->
      <package
            uri="ca.gc.asc_csa.apogy.addons.vehicle.ui"
            class="ca.gc.asc_csa.apogy.addons.vehicle.ui.ApogyAddonsVehicleUIPackage"
            genModel="model/apogy_addons_vehicle_ui.xcore"/>
   </extension>
   <extension
         point="ca.gc.asc_csa.apogy.common.topology.ui.presentation">
      <Class
            Class="ca.gc.asc_csa.apogy.addons.vehicle.ui.adapters.WheelPresentationAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.addons.vehicle.ui.adapters.LanderSphericalFootPresentationAdapter">
      </Class>
      <Class
            Class="ca.gc.asc_csa.apogy.addons.vehicle.ui.adapters.ThrusterPresentationAdapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.gc.asc_csa.apogy.addons.vehicle.ui.preferences.VehicleUIPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.gc.asc_csa.apogy.common.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="ca.gc.asc_csa.apogy.addons.vehicle.ui.preferences.VehicleUIPreferencesPage"
            id="ca.gc.asc_csa.apogy.addons.vehicle.ui.preferences.VehicleUIPreferencesPage"
            name="Vehicules">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.gc.asc_csa.apogy.addons.vehicle.ui.commands.ReInitializeWheeledVehiclePoseCorrectorCommand"
            id="ca.gc.asc_csa.apogy.addons.vehicle.ui.commands.ReInitializeWheeledVehiclePoseCorrectorCommand"
            name="ReInitializeWheeledVehiclePoseCorrector">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.apogy.addons.vehicle.ui.commands.PathPlannerToolReplanCommand"
            id="ca.gc.asc_csa.apogy.addons.vehicle.ui.commands.PathPlannerToolReplanCommand"
            name="Re-Plan Path">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ca.gc.asc_csa.apogy.core.ui.menu?after=additions">
         <command
               commandId="ca.gc.asc_csa.apogy.addons.vehicle.ui.commands.ReInitializeWheeledVehiclePoseCorrectorCommand"
               label="Reinitialize Pose Corrector"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <with
                     variable="activeMenuSelection">
                   <iterate
                       ifEmpty="false"
                       operator="or">
                       <instanceof
                            value="ca.gc.asc_csa.apogy.addons.vehicle.WheeledVehiclePoseCorrector">
                       </instanceof>
                    </iterate>
                </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.apogy.addons.vehicle.ui.commands.PathPlannerToolReplanCommand"
               label="Re-Plan Path"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <with
                     variable="activeMenuSelection">
                   <iterate
                       ifEmpty="false"
                       operator="or">
                       <instanceof
                            value="ca.gc.asc_csa.apogy.addons.vehicle.PathPlannerTool">
                       </instanceof>
                   </iterate>
                </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
