<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="ca.gc.asc_csa.apogy.core.environment"
            class="ca.gc.asc_csa.apogy.core.environment.provider.ApogyCoreEnvironmentItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated apogy_core_environment -->
      <extender
            uri="ca.gc.asc_csa.apogy.core"
            class="ca.gc.asc_csa.apogy.core.environment.provider.ApogyCoreEnvironmentItemProviderAdapterFactory$ApogyCoreChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.apogy.common.topology"
            class="ca.gc.asc_csa.apogy.core.environment.provider.ApogyCoreEnvironmentItemProviderAdapterFactory$ApogyCommonTopologyChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.apogy.common.topology.bindings"
            class="ca.gc.asc_csa.apogy.core.environment.provider.ApogyCoreEnvironmentItemProviderAdapterFactory$ApogyCommonTopologyBindingsChildCreationExtender"/>
   </extension>
</plugin>
