<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ca.gc.asc_csa.apogy.common.converters">
      <new_element
            Class="ca.gc.asc_csa.apogy.common.converters.tests.converters.ConverterAtoB">
      </new_element>
      <new_element
            Class="ca.gc.asc_csa.apogy.common.converters.tests.converters.ConverterBtoC">
      </new_element>
      <new_element
            Class="ca.gc.asc_csa.apogy.common.converters.tests.converters.BadConverterWithNoInputType">
      </new_element>
      <new_element
            Class="ca.gc.asc_csa.apogy.common.converters.tests.converters.BadConverterWithNoOutputType">
      </new_element>
      <new_element
            Class="ca.gc.asc_csa.apogy.common.converters.tests.converters.ConverterBtoA">
      </new_element>
   </extension>

</plugin>
