<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated apogy_tools_vehicle_ui -->
      <factory
            uri="ca.gc.asc_csa.apogy.addons.vehicle.ui"
            class="ca.gc.asc_csa.apogy.addons.vehicle.ui.provider.ApogyAddonsVehicleUIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated apogy_addons_vehicle_ui -->
      <extender
            uri="ca.gc.asc_csa.apogy.common.topology.ui"
            class="ca.gc.asc_csa.apogy.addons.vehicle.ui.provider.ApogyAddonsVehicleUIItemProviderAdapterFactory$ApogyCommonTopologyUIChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.apogy.common.topology"
            class="ca.gc.asc_csa.apogy.addons.vehicle.ui.provider.ApogyAddonsVehicleUIItemProviderAdapterFactory$ApogyCommonTopologyChildCreationExtender"/>
   </extension>

</plugin>
