<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2.4.5 2015/08/25 19:42:45 rlarcheveque Exp $
-->

<plugin>

   <extension
         point="org.eclipse.symphony.common.topology.ui.Presentation">
      <Class
            Class="org.eclipse.symphony.addons.sensors.imaging.ui.ImageSnapshotPresentationAdapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.symphony.common.obsolete.eclipse.emf.ui.PropertyCellViewerContentProvider">
      <contentProvider
            class="org.eclipse.symphony.addons.sensors.imaging.ui.celleditors.ImageDataPropertyCellViewerContentProvider"
            id="org.eclipse.symphony.addons.sensors.imaging.ui.celleditors.ImageDataPropertyCellViewerContentProvider"
            target="org.eclipse.swt.graphics.ImageData">
      </contentProvider>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ca_gc_asc_csa_mrt_sensors_imaging_ui -->
      <package
            uri="org.eclipse.symphony.addons.sensors.imaging.ui"
            class="org.eclipse.symphony.addons.sensors.imaging.ui.MRTSensorsImagingUIPackage"
            genModel="model/ca_gc_asc_csa_mrt_sensors_imaging_ui.xcore"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.symphony.addons.sensors.imaging.ui.preferences.MRTImagingPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.symphony.addons.sensors.fov.ui.preferences.MRTFOVPreferencesPage"
            class="org.eclipse.symphony.addons.sensors.imaging.ui.preferences.MRTImagingPreferencesPage"
            id="org.eclipse.symphony.addons.sensors.imaging.ui.page1"
            name="Image Snapshot">
      </page>
   </extension>
   <extension
         point="org.eclipse.symphony.common.converters">
      <new_element
            Class="org.eclipse.symphony.addons.sensors.imaging.ui.converters.ReferenceResultValueToImageSnapshotConverter">
      </new_element>
   </extension>

</plugin>
