<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mrt_path_planners_ui -->
      <package
            uri="ca.gc.space.mrt.mobility.pathplanners.ui"
            class="ca.gc.space.mrt.mobility.pathplanners.ui.PathPlannersUIPackage"
            genModel="model/mrt_path_planners_ui.xcore"/>
   </extension>

</plugin>
