@import url("platform:/plugin/org.eclipse.ui.themes/css/e4-dark.css");
Label {
  font: Verdana 8px;
  color: black;
}
Composite Label {
  color: black;
}
Text {
  font: Verdana 8px;
}
/* Identifies only those SWT Text elements
appearing within a Composite */
Composite Text {
  background-color: white;
  color: black;
}
SashForm {
  background-color: #c1d5ef;
}

Shell {
  background-color: #e3efff #c1d5ef 60%;
} 

.MTrimBar#org-eclipse-ui-main-toolbar ToolBar {
background-color: #E2E2E2;
}

/* background uses a gradient */
.MTrimBar{
  background-color: #e3efff #c1d5ef;
  color: white;
  font: Verdana 12px;
}

.MTrimBar ToolBar
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

Shell {
    swt-background-mode: default;
    background-color: red orange yellow green orange 30% 60% 75% 95%
}

.MPartStack {
    font-size: 22px;
    color: orange;
} 