<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.symphony.addons.sensors.Symphony__AddonsSensorsPackage"
            genModel="model/symphony_addons_sensors.xcore"
            uri="org.eclipse.symphony.addons.sensors">
      </package>
   </extension>

</plugin>
