<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.common.geometry.data3d.asc"
            class="org.eclipse.symphony.common.geometry.data3d.asc.Data3DASCPackage"
            genModel="model/symphony_common_geometry_data3d_asc.xcore"/>
   </extension>

</plugin>
