<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.symphony.common.topology.ui.jme3.JME3Adapter">
      <Class
            Class="org.eclipse.symphony.addons.ui.jme3.adapters.Ruler3dToolNodeJME3Adapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.symphony.common.topology.ui.jme3.JME3Adapter">
      <Class
            Class="org.eclipse.symphony.addons.ui.jme3.adapters.SunVector3DToolNodeJME3Adapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.symphony.common.topology.ui.jme3.JME3Adapter">
      <Class
            Class="org.eclipse.symphony.addons.ui.jme3.adapters.Trajectory3DToolNodeJME3Adapter">
      </Class>
   </extension>

</plugin>
