<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2012 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.presentation.EMFEcoreInvocatorModelWizardID"
            name="%_UI_EMFEcoreInvocatorModelWizard_label"
            class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.presentation.EMFEcoreInvocatorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EMFEcoreInvocatorModelFile.gif">
         <description>%_UI_EMFEcoreInvocatorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="ca.gc.asc_csa.eclipse.emf.ecore.invocator.presentation.EMFEcoreInvocatorEditorID"
            name="%_UI_EMFEcoreInvocatorEditor_label"
            icon="platform:/plugin/ca.gc.asc_csa.symphony.core.ui/icons/symphony_logo_16x16.gif"
            extensions="ei, ss, sym"
            class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.presentation.CustomEMFEcoreInvocatorEditor"
            contributorClass="ca.gc.asc_csa.eclipse.emf.ecore.invocator.presentation.EMFEcoreInvocatorActionBarContributor">
      </editor>
   </extension>

</plugin>
