<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2008.

 $Id: plugin.xml,v 1.3.4.2 2015/05/21 15:50:10 pallard Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
   
      <package
            uri="org.eclipse.symphony.common.geometry.data25d.ui"
            class="org.eclipse.symphony.common.geometry.data25d.ui.Data25DUIPackage"
            genModel="model/symphony_common_geometry_data25d_ui.xcore"/>
   </extension>

</plugin>
