<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2.2.2 2015/02/03 20:01:32 rlarcheveque Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ca.gc.asc_csa.apogy.common.topology.addons.primitives"
            class="ca.gc.asc_csa.apogy.common.topology.addons.primitives.ApogyCommonTopologyAddonsPrimitivesPackage"
            genModel="model/apogy_common_topology_addons_primitives.xcore"/>
   </extension>

</plugin>
