<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.context.viewServices">
      <viewService
            class="ca.gc.asc_csa.apogy.common.emf.ui.emfforms.ApogyViewModelService">
      </viewService>
   </extension>

</plugin>
