<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ca.gc.asc_csa.symphony.core.ui.category"
            name="ASC/CSA Symphony">
      </category>
      <category
            id="ca.gc.asc_csa.symphony.core.ui.category.dev"
            name="ASC/CSA Symphony (Support)">
      </category>
      <view
            category="ca.gc.asc_csa.symphony.core.ui.category"
            class="ca.gc.asc_csa.symphony.core.ui.views.MovableTrajectoryView"
            id="ca.gc.asc_csa.symphony.core.ui.views.MovableTrajectoryView"
            name="Movable Trajectory View"
            restorable="true">
      </view>
      <view
            category="ca.gc.asc_csa.symphony.core.ui.category"
            class="ca.gc.asc_csa.symphony.core.ui.views.SymphonyEnvironmentTimeSourcesView"
            icon="icons/eview16/time_sources_view.gif"
            id="ca.gc.asc_csa.symphony.core.ui.view1"
            name="Time Source"
            restorable="true">
      </view>
      <view
            category="ca.gc.asc_csa.symphony.core.ui.category"
            class="ca.gc.asc_csa.symphony.core.ui.views.DataProductsListsContainerView"
            icon="platform:/plugin/ca.gc.asc_csa.eclipse.emf.ecore.invocator.edit/icons/full/obj16/DataProductsListsContainer.gif"
            id="ca.gc.asc_csa.symphony.core.ui.views.DataProductsListsContainerView"
            name="Data Products"
            restorable="true">
      </view>      
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="ca.gc.asc_csa.symphony.core.ui.property.category.Default"
               id="ca.asc_csa.symphony.system.ui.property.tab.SymphonySystem3dViewer"
               label="3D">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="ca.gc.asc_csa.symphony.core.ui.property.category.Default">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
<!--      <category
            id="ca.gc.asc_csa.symphony.core.ui"
            name="Symphony">
      </category>
-->
      <wizard
            category="ca.gc.asc_csa.symphony.core.ui"
            class="ca.gc.asc_csa.symphony.core.ui.wizards.NewSymphonyProjectWizard"
            icon="icons/sample.gif"
            id="ca.gc.asc_csa.symphony.core.ui.wizards.NewSymphonyProjectWizard"
            name="New Symphony Project"
            project="true">
      </wizard>
      <wizard
            category="ca.gc.asc_csa.symphony.core.ui"
            class="ca.gc.asc_csa.symphony.core.ui.wizards.NewSymphonySessionWizard"
            icon="icons/sample.gif"
            id="ca.gc.asc_csa.symphony.core.ui.wizards.NewSymphonySessionWizard"
            name="New Symphony Session">
      </wizard>
      <wizard
            category="ca.gc.asc_csa.symphony.core.ui"
            class="ca.gc.asc_csa.symphony.core.ui.wizards.NewSymphonySystemWizard"
            icon="icons/sample.gif"
            id="ca.gc.asc_csa.symphony.core.ui.wizards.NewSymphonySystemWizard"
            name="New Symphony System">
      </wizard>      
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_core_ui -->
      <package
            uri="ca.gc.asc_csa.symphony.core.ui"
            class="ca.gc.asc_csa.symphony.core.ui.SymphonyCoreUiPackage"
            genModel="model/symphony_core_ui.xcore"/>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.asc_csa.symphony.core.ui.ResultNodePresentationAdapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Toggles the enabled flag of a PoseCorrector."
            id="ca.gc.asc_csa.symphony.core.ui.commands.TogglePoseCorrectorEnabledCommand"
            name="TogglePoseCorrectorEnabledCommand">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.symphony.core.ui.commands.LoadFeatureOfInterestFromFile"
            id="ca.gc.asc_csa.symphony.core.ui.commands.LoadFeatureOfInterestFromFile"
            name="Load Feature Of Interest From File">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.symphony.core.ui.commands.SaveFeatureOfInterestToFile"
            id="ca.gc.asc_csa.symphony.core.ui.commands.SaveFeatureOfInterestToFile"
            name="Save Feature Of Interest To File">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.symphony.core.ui.commands.CreateUserDefinedResult"
            id="ca.gc.asc_csa.symphony.core.ui.commands.CreateUserDefinedResult"
            name="Create User Defined Result">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.symphony.core.ui.commands.UpdatableUpdateCommandHandler"
            description="Commands the Update of an Updatable."
            id="ca.gc.asc_csa.symphony.core.ui.commands.UpdatableUpdate"
            name="Update">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.symphony.core.ui.commands.ToggleUpdatableAutoUpdateEnableCommandHandler"
            description="Toggles the Update AutoUpdate setting."
            id="ca.gc.asc_csa.symphony.core.ui.commands.UpdatableToggleAutoUpdate"
            name="Toggle Auto Update">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
           <menu
              id="ca.gc.asc_csa.symphony.core.ui.menu"
              label="Symphony">
           </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ca.gc.asc_csa.symphony.core.ui.menu?after=additions">
         <command
               commandId="ca.gc.asc_csa.symphony.core.ui.commands.TogglePoseCorrectorEnabledCommand"
               label="Enable / Disable Pose Corrector"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                     ifEmpty="false"
                     operator="or">
                       <and>
                           <instanceof
                                 value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.Variable">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="ca.gc.asc_csa.symphony.core.ui.instanceOfSymphonySystem">
                           </test>
                       </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.symphony.core.ui.commands.LoadFeatureOfInterestFromFile"
               label="Load Feature Of Interest From File"
               style="push">
            <visibleWhen
                  checkEnabled="false">   
               <with
                    variable="activeMenuSelection">
                  <iterate
                     ifEmpty="false"
                     operator="or">
                       <instanceof
                             value="ca.gc.asc_csa.symphony.core.FeatureOfInterestList">
                       </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.symphony.core.ui.commands.SaveFeatureOfInterestToFile"
               label="Save Feature Of Interest To File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                     ifEmpty="false"
                     operator="or">
                        <instanceof
                            value="ca.gc.asc_csa.symphony.core.FeatureOfInterestList">
                        </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.symphony.core.ui.commands.CreateUserDefinedResult"
               label="Create User-Defined Result"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                      ifEmpty="false"
                      operator="or">
                        <instanceof
                             value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.DataProductsList">
                        </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.symphony.core.ui.commands.UpdatableUpdate"
               label="Update"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                      ifEmpty="false"
                      operator="or">
                       <instanceof
                           value="ca.gc.asc_csa.symphony.core.Updatable">
                       </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.symphony.core.ui.commands.UpdatableToggleAutoUpdate"
               label="Toggle Auto Update"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                      ifEmpty="false"
                      operator="or">
                     <instanceof
                           value="ca.gc.asc_csa.symphony.core.Updatable">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>         
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.gc.asc_csa.symphony.core.ui.preferences.SymphonyCorePreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ca.gc.asc_csa.symphony.core.ui.preferences.SymphonyCorePreferencesPage"
            id="ca.gc.asc_csa.symphony.core.ui.preferences.SymphonyCorePreferencesPage"
            name="Symphony">
      </page>
      <page
            category="ca.gc.asc_csa.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="ca.gc.asc_csa.symphony.core.ui.preferences.SymphonyCoreNodesPreferencesPage"
            id="ca.gc.asc_csa.symphony.core.ui.preferences.SymphonyCoreNodesPreferencesPage"
            name="Results">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ca.gc.asc_csa.symphony.core.ui.commands.SymphonySystemVariableInstancePropertyTester"
            id="ca.gc.asc_csa.symphony.core.ui.commands.SymphonySystemVariableInstancePropertyTester"
            namespace="ca.gc.asc_csa.symphony.core.ui"
            properties="instanceOfSymphonySystem"
            type="ca.gc.asc_csa.eclipse.emf.ecore.invocator.Variable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.gc.asc_csa.symphony.core.ui.commands.TogglePoseCorrectorEnabledCommandHandler"
            commandId="ca.gc.asc_csa.symphony.core.ui.commands.TogglePoseCorrectorEnabledCommand">
         <enabledWhen>
            <with
                 variable="activeMenuSelection">
               <iterate
                  ifEmpty="false"
                  operator="or">
                   <test
                        forcePluginActivation="true"
                        property="ca.gc.asc_csa.symphony.core.ui.instanceOfSymphonySystem">
                   </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr/symphony_7x8.gif"
            id="ca.gc.asc_csa.symphony.core.ui.projectNatureImages"
            natureId="ca.gc.asc_csa.symphony.core.ui.natures.SymphonyNature">
      </image>
   </extension>
   <extension
         id="ca.gc.asc_csa.symphony.core.ui.natures.SymphonyNature"
         name="Symphony"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ca.gc.asc_csa.symphony.core.ui.natures.SymphonyProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="ca.gc.asc_csa.symphony.core.ui.decorators.UpdatableDecorator"
            id="ca.gc.asc_csa.symphony.core.ui.decorator1"
            label="Updatable"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="ca.gc.asc_csa.symphony.core.Updatable">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="ca.gc.asc_csa.symphony.core.ui"
            class="ca.gc.asc_csa.symphony.core.ui.wizards.ImportSymphonyWorksiteWizard"
            icon="icons/symphony_logo_16x16.gif"
            id="ca.gc.asc_csa.symphony.core.ui.wizards.ImportWorksiteWizard"
            name="Symphony Worksite">
         <description>
            This wizard allows to import a registered worksite into the active Symphony session.
         </description>
      </wizard>
   </extension>
   <extension
         point="ca.gc.asc_csa.eclipse.converters">
      <new_element
            Class="ca.gc.asc_csa.symphony.core.ui.converters.PositionedResultToNodeConverter">
      </new_element>
   </extension>
</plugin>
