<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.symphony.core.ui.category"
            class="org.eclipse.symphony.core.topology.ui.views.SymphonyEnvironment3DView"
            icon="icons/eview16/Symphony3DViewer.gif"
            id="org.eclipse.symphony.core.topology.ui.views.Symphony3DView"
            name="Symphony 3D Viewer"
            restorable="true">
      </view>
      <view
            category="org.eclipse.symphony.core.ui.category"
            class="org.eclipse.symphony.core.topology.ui.views.SymphonySystem3DView"
            icon="icons/eview16/SymphonySystem3DViewer.gif"
            id="org.eclipse.symphony.core.topology.ui.views.SymphonySystem3DView"
            name="Symphony System 3D Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.symphony.common.converters">
      <new_element
            Class="org.eclipse.symphony.core.topology.ui.converters.PositionResultToNodeConverter">
      </new_element>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.symphony.core.topology.ui.commands.ToggleVariableTopologyVisibilityCommand"
            name="Toggle Variable Topology Visibility">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.symphony.core.ui.menu?after=additions">
         <command
               commandId="org.eclipse.symphony.core.topology.ui.commands.ToggleVariableTopologyVisibilityCommand"
               label="Toggle Variable Topology Visibility"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                    ifEmpty="false"
                    operator="or">
                     <and>
                        <instanceof
                              value="ca.gc.asc_csa.eclipse.emf.ecore.invocator.Variable">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.symphony.core.ui.instanceOfSymphonySystem">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.gc.asc_csa.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="org.eclipse.symphony.core.topology.ui.preferences.SymphonySystem3DViewerUIPreferencesPage"
            id="org.eclipse.symphony.core.topology.ui.preferences.SymphonySystem3DViewerUIPreferencesPage"
            name="Symphony System 3D View">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.symphony.core.topology.ui.commands.ToggleVariableTopologyVisibilityCommandHandler"
            commandId="org.eclipse.symphony.core.topology.ui.commands.ToggleVariableTopologyVisibilityCommand">
         <enabledWhen>
            <with
                 variable="activeMenuSelection">
               <iterate
                  ifEmpty="false"
                  operator="and">
                    <test
                         forcePluginActivation="true"
                         property="org.eclipse.symphony.core.ui.instanceOfSymphonySystem">
                    </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.symphony.core.topology.ui.preferences.SymphonyTopologyUIPreferencesInitializer">
      </initializer>
   </extension>

</plugin>
