<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:49:57 pallard Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="org.eclipse.symphony.addons.sensors.range"
            class="org.eclipse.symphony.addons.sensors.range.provider.Symphony__AddonsSensorsRangeItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_addons_sensors_range -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.sensors.range.provider.Symphony__AddonsSensorsRangeItemProviderAdapterFactory$Symphony__CommonTopologyChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated range -->
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.sensors.range.provider.Symphony__AddonsSensorsRangeItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
