<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mrt_data3d_asc -->
      <package
            uri="ca.gc.space.mrt.geometry.data3d.asc"
            class="ca.gc.space.mrt.geometry.data3d.asc.Data3DASCPackage"
            genModel="model/mrt_data3d_asc.xcore"/>
   </extension>

</plugin>
