<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.symphony.common.converters.ui.views.ConvertersView"
         name="Converters View"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.symphony.core.ui.category"
            class="org.eclipse.symphony.common.converters.ui.views.ConvertersView"
            icon="icons/convert.gif"
            id="org.eclipse.symphony.common.converters.ui.views.ConvertersView"
            name="Converters View"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_common_converters_ui -->
      <package
            uri="org.eclipse.symphony.common.converters.ui"
            class="org.eclipse.symphony.common.converters.ui.Symphony__CommonConvertersUIPackage"
            genModel="model/symphony_common_converters_ui.xcore"/>
   </extension>

</plugin>
