<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ca.gc.asc_csa.apogy.common.converters.ui.views.ConvertersView"
         name="Converters View"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ca.gc.asc_csa.apogy.core.ui.category"
            class="ca.gc.asc_csa.apogy.common.converters.ui.views.ConvertersView"
            icon="icons/convert.gif"
            id="ca.gc.asc_csa.apogy.common.converters.ui.views.ConvertersView"
            name="Converters View"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_common_converters_ui -->
      <package
            uri="ca.gc.asc_csa.apogy.common.converters.ui"
            class="ca.gc.asc_csa.apogy.common.converters.ui.ApogyCommonConvertersUIPackage"
            genModel="model/apogy_common_converters_ui.xcore"/>
   </extension>

</plugin>
