<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne Copyright (c) 2015-2016
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_examples_satellite_symphony -->
      <package
            uri="org.eclipse.symphony.examples.satellite.symphony"
            class="org.eclipse.symphony.examples.satellite.symphony.Symphony__ExamplesSatelliteSymphonyPackage"
            genModel="model/symphony_examples_satellite_symphony.xcore"/>
   </extension>
   <extension
         point="org.eclipse.symphony.core.invocator.typeContributor">
      <Type
            URI="model/constellation.ss">
      </Type>
   </extension>

</plugin>
