<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyrights Canadian Space Agency 2011
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.common.topology.bindings"
            class="org.eclipse.symphony.common.topology.bindings.TopologyBindingsPackage"
            genModel="model/topology_bindings.xcore"/>
   </extension>

</plugin>
