<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_tools_telecoms -->
      <package
            uri="ca.gc.asc_csa.apogy.addons.telecoms"
            class="ca.gc.asc_csa.apogy.addons.telecoms.ApogyAddonsTelecomsPackage"
            genModel="model/apogy_addons_telecoms.xcore"/>
   </extension>

</plugin>
