<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->


<plugin>

   <extension-point
           id="invocatorDelegate"
           name="Invocator Delegate"
           schema="schema/invocatorDelegate.exsd">
   </extension-point>
   
   <extension-point
           id="typeContributor"
           name="TypeContributor"
           schema="schema/typeContributor.exsd">
   </extension-point>
   
   <extension-point id="programFactoryProvider" name="ProgramFactoryProvider" schema="schema/programFactoryProvider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ca.gc.asc_csa.apogy.core.invocator"
            class="ca.gc.asc_csa.apogy.core.invocator.ApogyCoreInvocatorPackage"
            genModel="model/apogy_core_invocator.xcore"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="ca.gc.asc_csa.apogy.core.invocator.util.ApogyCoreInvocatorResourceFactoryImpl"
            type="sym">
      </parser>
   </extension>

   <extension
   		point="ca.gc.asc_csa.apogy.core.invocator.invocatorDelegate">
   		<element
   			invocatorDelegateClass="ca.gc.asc_csa.apogy.core.invocator.delegates.DefaultInvocatorDelegate">
   		</element>
   	</extension>
   <extension
         point="ca.gc.asc_csa.apogy.core.invocator.programFactoryProvider">
      <ProgramFactory
            factory="ca.gc.asc_csa.apogy.core.invocator.impl.OperationCallsListFactoryImpl"
            programEClass="ca.gc.asc_csa.apogy.core.invocator.OperationCallsList">
      </ProgramFactory>
   </extension>
   
</plugin>
