<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne Copyright (c) 2015
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated symphony_examples_mobile_platform -->
      <factory
            uri="ca.gc.asc_csa.symphony.examples.mobile_platform"
            class="ca.gc.asc_csa.symphony.examples.mobile_platform.provider.SymphonyExampleMobilePlatformItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated symphony_examples_mobile_platform -->
      <extender
            uri="ca.gc.asc_csa.eclipse.emf.ecore.invocator"
            class="ca.gc.asc_csa.symphony.examples.mobile_platform.provider.SymphonyExampleMobilePlatformItemProviderAdapterFactory$EMFEcoreInvocatorChildCreationExtender"/>
      <extender
            uri="ca.gc.asc_csa.symphony.environment.ui"
            class="ca.gc.asc_csa.symphony.examples.mobile_platform.provider.SymphonyExampleMobilePlatformItemProviderAdapterFactory$SymphonyEnvironmentUIChildCreationExtender"/>
      <extender
            uri="http:///ca/gc/space/topology.ecore"
            class="ca.gc.asc_csa.symphony.examples.mobile_platform.provider.SymphonyExampleMobilePlatformItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
