<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ca.gc.asc_csa.apogy.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="ca.gc.asc_csa.apogy.core.programs.controllers.ui.property.category.Default"
               id="ca.gc.asc_csa.apogy.core.programs.controllers.ui.property.tab.AbstractInputConditionning"
               label="Plot">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ca.gc.asc_csa.apogy.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertySection
               class="ca.gc.asc_csa.apogy.core.programs.controllers.ui.properties.sections.AbstractInputConditionningPropertySection"
               id="ca.gc.asc_csa.apogy.core.programs.controllers.ui.property.section.AbstractInputConditionning"
               tab="ca.gc.asc_csa.apogy.core.programs.controllers.ui.property.tab.AbstractInputConditionning">
            <input
                  type="ca.gc.asc_csa.apogy.core.programs.controllers.AbstractInputConditioning">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ca.gc.asc_csa.apogy.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="ca.gc.asc_csa.apogy.core.programs.controllers.ui.property.category.Default"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.ActivateControllersConfigurationCommand"
            id="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.ActivateControllersConfigurationCommand"
            name="ActivateControllersConfigurationCommand">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.DeActivateControllersConfigurationCommand"
            id="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.DeActivateControllersConfigurationCommand"
            name="DeActivateControllersConfigurationCommand">
      </command>
      <command
            defaultHandler="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.LoadUserDefinedInputConditioningFromFileCommand"
            id="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.LoadUserDefinedInputConditioningFromFileCommand"
            name="Load User Defined Input Conditioning From File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ca.gc.asc_csa.apogy.core.ui.menu?after=additions">
         <command
               commandId="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.ActivateControllersConfigurationCommand"
               label="Activate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <and>
                     <count value="1"/>
                     <iterate
                        ifEmpty="false"
                        operator="and">
                          <instanceof
                              value="ca.gc.asc_csa.apogy.core.programs.controllers.ControllersConfiguration">
                          </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.DeActivateControllersConfigurationCommand"
               label="Deactivate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <and>
                     <count value="1"/>
                     <iterate
                        ifEmpty="false"
                        operator="and">
                          <instanceof
                              value="ca.gc.asc_csa.apogy.core.programs.controllers.ControllersConfiguration">
                          </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.apogy.core.programs.controllers.ui.commands.LoadUserDefinedInputConditioningFromFileCommand"
               label="Load User Defined Input Conditioning From File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                     ifEmpty="false"
                     operator="or">
                       <instanceof
                           value="ca.gc.asc_csa.apogy.core.programs.controllers.UserDefinedInputConditioning">
                       </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
