<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="org.eclipse.symphony.core.programs.controllers.ui.property.category.Default"
               id="org.eclipse.symphony.core.programs.controllers.ui.property.tab.AbstractInputConditionning"
               label="Plot">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertySection
               class="org.eclipse.symphony.core.programs.controllers.ui.properties.sections.AbstractInputConditionningPropertySection"
               id="org.eclipse.symphony.core.programs.controllers.ui.property.section.AbstractInputConditionning"
               tab="org.eclipse.symphony.core.programs.controllers.ui.property.tab.AbstractInputConditionning">
            <input
                  type="org.eclipse.symphony.core.programs.controllers.AbstractInputConditioning">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.symphony.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="org.eclipse.symphony.core.programs.controllers.ui.property.category.Default"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.symphony.core.programs.controllers.ui.commands.ActivateControllersConfigurationCommand"
            id="org.eclipse.symphony.core.programs.controllers.ui.commands.ActivateControllersConfigurationCommand"
            name="ActivateControllersConfigurationCommand">
      </command>
      <command
            defaultHandler="org.eclipse.symphony.core.programs.controllers.ui.commands.DeActivateControllersConfigurationCommand"
            id="org.eclipse.symphony.core.programs.controllers.ui.commands.DeActivateControllersConfigurationCommand"
            name="DeActivateControllersConfigurationCommand">
      </command>
      <command
            defaultHandler="org.eclipse.symphony.core.programs.controllers.ui.commands.LoadUserDefinedInputConditioningFromFileCommand"
            id="org.eclipse.symphony.core.programs.controllers.ui.commands.LoadUserDefinedInputConditioningFromFileCommand"
            name="Load User Defined Input Conditioning From File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.symphony.core.ui.menu?after=additions">
         <command
               commandId="org.eclipse.symphony.core.programs.controllers.ui.commands.ActivateControllersConfigurationCommand"
               label="Activate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <and>
                     <count value="1"/>
                     <iterate
                        ifEmpty="false"
                        operator="and">
                          <instanceof
                              value="org.eclipse.symphony.core.programs.controllers.ControllersConfiguration">
                          </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.symphony.core.programs.controllers.ui.commands.DeActivateControllersConfigurationCommand"
               label="Deactivate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <and>
                     <count value="1"/>
                     <iterate
                        ifEmpty="false"
                        operator="and">
                          <instanceof
                              value="org.eclipse.symphony.core.programs.controllers.ControllersConfiguration">
                          </instanceof>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.symphony.core.programs.controllers.ui.commands.LoadUserDefinedInputConditioningFromFileCommand"
               label="Load User Defined Input Conditioning From File"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                    variable="activeMenuSelection">
                  <iterate
                     ifEmpty="false"
                     operator="or">
                       <instanceof
                           value="org.eclipse.symphony.core.programs.controllers.UserDefinedInputConditioning">
                       </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
