<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ca.gc.asc_csa.apogy.examples.satellite.ui"
            name="Constellation">
      </category>
      <view
            category="ca.gc.asc_csa.apogy.examples.satellite.ui"
            class="ca.gc.asc_csa.apogy.examples.satellite.ui.parts.ConstellationDashboardView"
            icon="icons/sample.gif"
            id="ca.gc.asc_csa.apogy.examples.satellite.ui.parts.ConstellationDashboard"
            name="Constellation Dashboard">
      </view>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_examples_satellite_ui -->
      <package
            uri="ca.gc.asc_csa.apogy.examples.satellite.ui"
            class="ca.gc.asc_csa.apogy.examples.satellite.ui.ApogyExamplesSatelliteUiPackage"
            genModel="model/apogy_examples_satellite_ui.xcore"/>
   </extension>

</plugin>
