<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ca.gc.asc_csa.eclipse.emf.ecore.edit.utils"
            class="ca.gc.asc_csa.eclipse.emf.ecore.edit.utils.EMFEcoreEditUtilsPackage"
            genModel="model/emf_ecore_edit_utils.xcore"/>
   </extension>

</plugin>
