<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="ca.gc.asc_csa.apogy.common.topology.ui.jme3.jme3Adapter">
      <Class
            Class="ca.gc.asc_csa.apogy.addons.telecoms.ui.jme3.adapters.AbstractAntennaRadiationPatternJME3Adapter">
      </Class>
   </extension>

</plugin>
