<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2013 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated images_core_ros -->
      <package
            uri="ca.gc.asc_csa.eclipse.images.core.ros"
            class="ca.gc.asc_csa.eclipse.images.core.ros.ImagesCoreROSPackage"
            genModel="model/images_core_ros.xcore"/>
   </extension>

</plugin>
