<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2007.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:49:48 pallard Exp $
-->

<plugin>
    

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated mrt_csv -->
      <factory
            uri="ca.gc.space.mrt.common.csv"
            class="ca.gc.space.mrt.common.csv.provider.CsvItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
