<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne - Copyright (c) 2015
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated emf_ecore_examples_lander -->
      <package
            uri="ca.gc.asc_csa.apogy.examples.lander"
            class="ca.gc.asc_csa.apogy.examples.lander.ApogyExamplesLanderPackage"
            genModel="model/apogy_examples_lander.xcore"/>
   </extension>

</plugin>
