<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_tools_core -->
      <package
            uri="ca.gc.asc_csa.apogy.addons"
            class="ca.gc.asc_csa.apogy.addons.ApogyAddonsPackage"
            genModel="model/apogy_addons.xcore"/>
   </extension>

</plugin>
