<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Agence spatiale canadienne / Canadian Space Agency 2014 Copyrights (c)
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_tools_core -->
      <package
            uri="org.eclipse.symphony.addons"
            class="org.eclipse.symphony.addons.Symphony__AddonsPackage"
            genModel="model/symphony_addons.xcore"/>
   </extension>

</plugin>
