<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ca.gc.asc_csa.apogy.core.worksiteProvider">
      <WorksiteProvider
            Description="CSA Analogue Terrain"
            Name="Apogy Worksite Example"
            URI="model/csa_analog_terrain.sws">
      </WorksiteProvider>
   </extension>
</plugin>
