<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2008.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:51:00 pallard Exp $
-->

<plugin>

   <extension
         point="org.eclipse.symphony.common.topology.ui.presentation">
      <Class
            Class="org.eclipse.symphony.addons.sensors.pose.ui.adapters.PositionSensorPresentationAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.addons.sensors.pose.ui.adapters.OrientationSensorPresentationAdapter">
      </Class>
      <Class
            Class="org.eclipse.symphony.addons.sensors.pose.ui.adapters.PoseSensorPresentationAdapter">
      </Class>
   </extension>   
    <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.symphony.addons.ui.category"
            class="org.eclipse.symphony.addons.sensors.pose.ui.views.PoseSensorView"
            id="org.eclipse.symphony.addons.sensors.pose.ui.views.PoseSensorView"
            name="Pose Sensor Viewe"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.addons.sensors.pose.ui"
            class="org.eclipse.symphony.addons.sensors.pose.ui.Symphony__AddonsSensorsPoseUIPackage"
            genModel="model/symphony_addons_sensors_pose_ui.xcore"/>
   </extension>

   <extension
   		 point="org.eclipse.ui.commands">
   	  <command
   	  		defaultHandler="org.eclipse.symphony.addons.sensors.pose.ui.handlers.ResetPositionCommandHandler"
   	  		id="org.eclipse.symphony.addons.sensors.pose.ui.commands.ResetPositionCommand"
   	  		name="Reset Position">
   	  </command>
   	  <command
   	  		defaultHandler="org.eclipse.symphony.addons.sensors.pose.ui.handlers.ResetOrientationCommandHandler"
   	  		id="org.eclipse.symphony.addons.sensors.pose.ui.commands.ResetOrientationCommand"
   	  		name="Reset Orientation">
   	  </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
      	 allPopups="true"
      	 locationURI="popup:org.eclipse.symphony.core.ui.menu?after=additions">
      	   <command
      	   		commandId="org.eclipse.symphony.addons.sensors.pose.ui.commands.ResetPositionCommand"
      	   		label="Reset Position"
      	   		style="push">
      	   	 <visibleWhen
      	   	 		checkEnabled="false">
      	   	 	 <with
      	   	 	 	  variable="activeMenuSelection">
      	   	 	 	 <iterate
      	   	 	 	    ifEmpty="false"
      	   	 	 	    operator="or">
      	   	 	 	      <instanceof
      	   	 	 	          value="org.eclipse.symphony.addons.sensors.pose.PositionSensor">
      	   	 	 	      </instanceof>
      	   	 	 	 </iterate>
      	   	 	 </with>
      	   	 </visibleWhen>
      	   </command>
      	   <command
      	        commandId="org.eclipse.symphony.addons.sensors.pose.ui.commands.ResetOrientationCommand"
      	        label="Reset Orientation"
      	        style="push">
      	      <visibleWhen
      	             checkEnabled="false">
      	          <with
      	               variable="activeMenuSelection">
      	              <iterate
      	                 ifEmpty="false"
      	                 operator="or">
      	                 <instanceof
      	                      value="org.eclipse.symphony.addons.sensors.pose.OrientationSensor">
      	                 </instanceof>
      	              </iterate>
      	          </with>
      	      </visibleWhen>
      	   </command>
      </menuContribution>
   </extension>

</plugin>
