<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension-point
           id="invocatorDelegate"
           name="Invocator Delegate"
           schema="schema/invocatorDelegate.exsd">
   </extension-point>
   
   <extension-point
           id="typeContributor"
           name="TypeContributor"
           schema="schema/typeContributor.exsd">
   </extension-point>
   
   <extension-point
           id="sessionProvider"
           name="SessionProvider"
           schema="schema/sessionProvider.exsd">
   </extension-point>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.core.invocator"
            class="org.eclipse.symphony.core.invocator.Symphony__CoreInvocatorPackage"
            genModel="model/symphony_core_invocator.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated eclipse_emf_ecore_invocator -->
      <parser
            type="sym"
            class="org.eclipse.symphony.core.invocator.util.Symphony__CoreInvocatorResourceFactoryImpl"/>
   </extension>

   <extension
   		point="org.eclipse.symphony.core.invocator.invocatorDelegate">
   		<element
   			invocatorDelegateClass="org.eclipse.symphony.core.invocator.delegates.DefaultInvocatorDelegate">
   		</element>
   	</extension>
   
</plugin>
