<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_common_math_statistics -->
      <package
            uri="org.eclipse.symphony.common.math.statistics"
            class="org.eclipse.symphony.common.math.statistics.Symphony__CommonMathStatisticsPackage"
            genModel="model/symphony_common_math_statistics.xcore"/>
   </extension>

</plugin>
