<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2.2.2 2015/02/03 20:01:32 rlarcheveque Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///ca/gc/space/topology/core/primitives/topology_primitives.ecore"
            class="ca.gc.space.topology.core.primitives.PrimitivesPackage"
            genModel="model/topology_primitives.genmodel"/>
   </extension>

</plugin>
