<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.gc.asc_csa.apogy.core.programs.javascript.ui.commands.ScriptExecutorRunHandler"
            commandId="ca.gc.asc_csa.apogy.core.programs.javascript.ui.scriptExecutor">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="ca.gc.asc_csa.apogy.core.programs.javascript.ui.JavaScriptProgramTester">
            </test>
            <!--instanceof
                  value="ca.gc.asc_csa.apogy.core.programs.javascript.ProgramJavascript">
            </instanceof-->
         </enabledWhen>
      </handler>
      <handler
            class="ca.gc.asc_csa.apogy.core.programs.javascript.ui.commands.ScriptExecutorDebugHandler"
            commandId="ca.gc.asc_csa.apogy.core.programs.javascript.ui.scriptExecutorDebug">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="ca.gc.asc_csa.apogy.core.programs.javascript.ui.JavaScriptProgramTester">
            </test>
         </enabledWhen>
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Execute script"
            id="ca.gc.asc_csa.apogy.core.programs.javascript.ui.scriptExecutor"
            name="Execute script">
      </command>
      <command
            description="Debug script"
            id="ca.gc.asc_csa.apogy.core.programs.javascript.ui.scriptExecutorDebug"
            name="Debug script">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ca.gc.asc_csa.apogy.core.ui.menu?after=additions">
         <command
               commandId="ca.gc.asc_csa.apogy.core.programs.javascript.ui.scriptExecutor"
               label="Execute Script"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="ca.gc.asc_csa.apogy.core.programs.javascript.ui.scriptExecutorDebug"
               label="Debug Script"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ca.gc.asc_csa.apogy.core.programs.javascript.ui.testers.JavaScriptProgramTester"
            id="ca.gc.asc_csa.apogy.core.programs.javascript.ui.JavaScriptProgramTester"
            namespace="ca.gc.asc_csa.apogy.core.programs.javascript.ui"
            properties="JavaScriptProgramTester"
            type="java.lang.Object">
      </propertyTester>
   </extension>

   <extension
         id="ca.gc.asc_csa.apogy.core.programs.javascript.ui.ApogyCompletionProposalComputer"
         point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.wst.jsdt.ui.defaultProposalCategory"
            class="ca.gc.asc_csa.apogy.core.programs.javascript.ui.ApogyCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ca.gc.asc_csa.apogy.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
            
         <propertySection
               class="ca.gc.asc_csa.apogy.core.programs.javascript.ui.properties.ScriptSection"
               id="ca.gc.asc_csa.apogy.core.programs.javascript.ui.properties.ScriptSection"
               tab="ca.gc.asc_csa.apogy.core.programs.javascript.ui.propertyTabs.Script">
            <input
                  type="ca.gc.asc_csa.apogy.core.programs.javascript.JavaScriptProgram">
            </input>
         </propertySection>
      </propertySections>
	</extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ca.gc.asc_csa.apogy.common.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="ca.gc.asc_csa.apogy.common.emf.ui"
               id="ca.gc.asc_csa.apogy.core.programs.javascript.ui.propertyTabs.Script"
               label="Script Location">
         </propertyTab>
      </propertyTabs>
   </extension>
   
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="ca.gc.asc_csa.apogy.core.programs.javascript.launchConfigurationType"
            modes="run,debug"
            name="Apogy JavaScript Run Configuration"
            public="true">
      </launchConfigurationType>
   </extension>
   
  <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="ca.gc.asc_csa.apogy.core.programs.javascript.ui.launching.ApogyJavaScriptLaunchDelegate"
            delegateDescription="Apogy JavaScript"
            id="ca.gc.asc_csa.apogy.core.programs.javascript.remoteLaunchDelegate"
            modes="run,debug"
            name="Apogy JavaScript Launch Delegate"
            sourceLocatorId="org.eclipse.wst.jsdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.wst.jsdt.debug.core.source.path.computer"
            type="ca.gc.asc_csa.apogy.core.programs.javascript.launchConfigurationType">
      </launchDelegate>
   </extension>
   
  <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ca.gc.asc_csa.apogy.core.programs.javascript.launchConfigurationType"
            icon="icons/apogy_logo_16x16.gif"
            id="ca.gc.asc_csa.apogy.core.programs.javascript.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ca.gc.asc_csa.apogy.core.programs.javascript.ui.launching.ApogyTabGroup"
            description="Apogy Script"
            id="ca.gc.asc_csa.apogy.core.programs.javascript.launchConfigurationTabGroup"
            type="ca.gc.asc_csa.apogy.core.programs.javascript.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
