<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ca.gc.space.topology.ui.java3d" name="Java3d Adapter" schema="schema/ca.gc.space.topology.ui.java3d.exsd"/>
   <extension-point id="ca.gc.space.topology.ui.presentation" name="Presentation Adapter" schema="schema/ca.gc.space.topology.ui.presentation.exsd"/>
   <extension-point id="propertyDescriptor" name="Property Descriptor" schema="schema/propertyDescriptor.exsd"/>
   <extension-point id="ca.gc.space.topology.ui.graphicsContextAdapter" name="Graphics Context Adapter" schema="schema/ca.gc.space.topology.ui.graphicsContextAdapter.exsd"/>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.topology.ui.adapters.GroupNodePresentationAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.topology.ui.adapters.TransformNodePresentationAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.topology.ui.adapters.DefaultNodePresentationAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.topology.ui.adapters.RotationNodePresentationAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.topology.ui.adapters.PositionNodePresentationAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.topology.ui.adapters.ReferencedGroupNodePresentationAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.graphicsContextAdapter">
      <Class
            Class="ca.gc.space.topology.ui.adapters.VRMLGraphicsContextAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.graphicsContextAdapter">
      <Class
            Class="ca.gc.space.topology.ui.adapters.OBJGraphicsContextAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.graphicsContextAdapter">
      <Class
            Class="ca.gc.space.topology.ui.adapters.TopoFileGraphicsContextAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.graphicsContextAdapter">
      <Class
            Class="ca.gc.space.topology.ui.adapters.GraphicsContextGraphicsContextAdapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.gc.asc_csa.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="ca.gc.space.topology.ui.preferences.TopologyUIPreferencesPage"
            id="ca.gc.space.topology.ui.preferences.TopologyUIPreferencesPage"
            name="Transforms and URL Nodes">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.gc.space.topology.ui.preferences.TopologyUIPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.topology.ui.adapters.URLNodePresentationAdapter">
      </Class>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyCategory
               category="ca.gc.space.topology.ui.property.category.Default">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertySection
               class="ca.gc.space.topology.ui.properties.sections.PositionNodePropertySection"
               id="ca.gc.space.topology.ui.property.section.PositionNode"
               tab="ca.gc.space.topology.ui.property.tab.PositionNode">
            <input
                  type="ca.gc.space.topology.PositionNode">
            </input>
         </propertySection>
         <propertySection
               class="ca.gc.space.topology.ui.properties.sections.RotationNodePropertySection"
               id="ca.gc.space.topology.ui.property.section.RotationNode"
               tab="ca.gc.space.topology.ui.property.tab.RotationNode">
            <input
                  type="ca.gc.space.topology.RotationNode">
            </input>
         </propertySection>
         <propertySection
               class="ca.gc.space.topology.ui.properties.sections.NodePresentationPropertySection"
               filter="ca.gc.space.topology.ui.properties.sections.NodePresentationPropertySection"
               id="ca.gc.space.topology.ui.property.section.NodePresentation"
               tab="ca.gc.space.topology.ui.property.tab.NodePresentation">
            <input
                  type="ca.gc.space.topology.Node">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ca.gc.asc_csa.eclipse.ui.property.properties.ExtendedTabbedPropertySheetPage.Contributor">
         <propertyTab
               category="ca.gc.space.topology.ui.property.category.Default"
               id="ca.gc.space.topology.ui.property.tab.PositionNode"
               label="Position">
         </propertyTab>
         <propertyTab
               category="ca.gc.space.topology.ui.property.category.Default"
               id="ca.gc.space.topology.ui.property.tab.RotationNode"
               label="Rotation">
         </propertyTab>
         <propertyTab
               category="ca.gc.space.topology.ui.property.category.Default"
               id="ca.gc.space.topology.ui.property.tab.NodePresentation"
               label="Presentation">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ca.gc.space.topology.ui.category"
            class="ca.gc.space.topology.ui.views.NodesDistanceView"
            icon="icons/NodesDistanceView.gif"
            id="ca.gc.space.topology.ui.views.NodesDistanceView"
            name="NodesDistanceView"
            restorable="true">
      </view>
      <view
            category="ca.gc.space.topology.ui.category"
            class="ca.gc.space.topology.ui.views.TopologyPresentationRegistryView"
            id="ca.gc.space.topology.ui.views.TopologyPresentationRegistryView"
            name="TopologyPresentationRegistryView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.gc.space.topology.ui.commands.ToggleNodeVisibilityCommand"
            id="ca.gc.space.topology.ui.commands.ToggleNodeVisibilityCommand"
            name="Toggle Node Visibility">
      </command>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated topology_ui -->
      <package
            uri="ca.gc.space.topology.ui"
            class="ca.gc.space.topology.ui.TopologyUIPackage"
            genModel="model/topology_ui.xcore"/>
   </extension>
   <extension
         point="org.eclipse.symphony.common.converters">
      <new_element
            Class="ca.gc.space.topology.ui.converters.NodeToNodePresentationConverter">
      </new_element>
   </extension>

</plugin>
