<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne - Copyright (c) 2015
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.symphony.examples.rover"
            class="org.eclipse.symphony.examples.rover.Symphony__ExamplesRoverPackage"
            genModel="model/symphony_examples_rover.xcore"/>
   </extension>

</plugin>
