<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2.4.4 2015/06/01 17:24:11 pallard Exp $
-->

<plugin>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="org.eclipse.symphony.addons.geometry.paths.ui"
            class="org.eclipse.symphony.addons.geometry.paths.ui.provider.PathsUIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            uri="org.eclipse.symphony.common.topology.ui"
            class="org.eclipse.symphony.addons.geometry.paths.ui.provider.PathsUIItemProviderAdapterFactory$TopologyUIChildCreationExtender"/>
      <extender
            uri="org.eclipse.symphony.common.topology"
            class="org.eclipse.symphony.addons.geometry.paths.ui.provider.PathsUIItemProviderAdapterFactory$TopologyChildCreationExtender"/>
   </extension>

</plugin>
