<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2009.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 16:49:34 pallard Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///ca/gc/space/mrt/actuators/ui/model/topology.ecore"
            class="ca.gc.space.mrt.actuators.ui.MRTActuatorsUiPackage"
            genModel="model/ca_gc_asc_csa_mrt_actuators_ui.xcore"/>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.mrt.actuators.ui.TurnTableActuatorPresentationAdapter">
      </Class>
   </extension>
   <extension
         point="ca.gc.space.topology.ui.presentation">
      <Class
            Class="ca.gc.space.mrt.actuators.ui.TurnTablePresentationAdapter">
      </Class>
   </extension>

</plugin>
