<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2016 Canadian Space Agency (CSA) / Agence spatiale canadienne (ASC).
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Pierre Allard (Pierre.Allard@canada.ca), 
     Regent L'Archeveque (Regent.Larcheveque@canada.ca),
     Sebastien Gemme (Sebastien.Gemme@canada.ca),
     Canadian Space Agency (CSA) - Initial API and implementation
-->
<plugin>
   <extension
         point="ca.gc.asc_csa.apogy.common.topology.ui.graphicsContextAdapter">
      <Class
            Class="ca.gc.asc_csa.apogy.common.geometry.data3d.pif.ui.adapters.GraphicsContextPifAdapter">
      </Class>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.gc.asc_csa.apogy.common.geometry.data3d.pif.ui.handlers.PIFToXYZExportCommandHandler"
            id="ca.gc.asc_csa.apogy.common.geometry.data3d.pif.ui.commands.PIFToXYZExportCommand"
            name="Export PIF To XYZ">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:ca.gc.asc_csa.apogy.core.ui.menu?after=additions">
         <command
               commandId="ca.gc.asc_csa.apogy.common.geometry.data3d.pif.ui.commands.PIFToXYZExportCommand"
               label="Export PIF To XYZ"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <with
                     variable="activeMenuSelection">
                    <iterate
                       ifEmpty="false"
                       operator="or">
                        <instanceof
                             value="org.eclipse.core.resources.IFile">
                        </instanceof>
                    </iterate>
                </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
