<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.symphony.common.topology.ui.viewer.TopologyViewerContext"
            name="Topology Viewer Context">            
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.symphony.common.topology.ui.viewer.commands.ZoomToFit"
            id="org.eclipse.symphony.common.topology.ui.viewer.commands.ZoomToFit"
            name="Zoom to Fit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.symphony.common.topology.ui.category"
            name="ASC/CSA Topology">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerPreferencesInitializer">
      </initializer>
      <initializer
            class="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerLightingPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.symphony.core.ui.preferences.SymphonyCorePreferencesPage"
            class="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            id="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            name="3D Viewer">
      </page>
      <page
            category="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerPreferencesPage"
            class="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerLightingPreferencePage"
            id="org.eclipse.symphony.common.topology.ui.viewer.preferences.TopologyViewerLightingPreferencePage"
            name="Lighting">
      </page>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated topology_viewer -->
      <package
            uri="org.eclipse.symphony.common.topology.ui.viewer"
            class="org.eclipse.symphony.common.topology.ui.viewer.TopologyViewerPackage"
            genModel="model/symphony_common_topology_ui_viewer.xcore"/>
   </extension>

</plugin>
