<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency 2008.

 $Id: plugin.xml,v 1.2.4.2 2015/05/21 15:50:30 pallard Exp $
-->

<plugin>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated mrt_range_ui -->
      <factory
            uri="org.eclipse.symphony.addons.sensors.range.ui"
            class="org.eclipse.symphony.addons.sensors.range.ui.provider.RangeSensorsUIItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated mrt_range_ui -->
      <extender
            uri="org.eclipse.symphony.common.topology.ui"
            class="org.eclipse.symphony.addons.sensors.range.ui.provider.RangeSensorsUIItemProviderAdapterFactory$TopologyUIChildCreationExtender"/>
   </extension>

</plugin>
