<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2015 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eclipse_emf_ecore_invocator_programs -->
      <package
            uri="ca.gc.asc_csa.eclipse.emf.ecore.invocator.programs"
            class="ca.gc.asc_csa.eclipse.emf.ecore.invocator.programs.InvocatorProgramsPackage"
            genModel="model/eclipse_emf_ecore_invocator_programs.xcore"/>
   </extension>

</plugin>
