<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne Copyright (c) 2015
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_examples_lidar -->
      <package
            uri="org.eclipse.symphony.examples.lidar.symphony"
            class="org.eclipse.symphony.examples.lidar.symphony.Symphony__ExamplesLidarSymphonyPackage"
            genModel="model/symphony_examples_lidar_symphony.xcore"/>
   </extension>
   <extension
         point="org.eclipse.symphony.core.invocator.typeContributor">
      <Type
            URI="model/LidarSymphonySystem.ss">
      </Type>
   </extension>
   <extension
         point="org.eclipse.symphony.core.invocator.sessionProvider">
      <SessionProvider
            Description="Session showing the use of the Lidar example system."
            Name="Lidar Example"
            URI="sessions/LidarExampleSession.sym">
      </SessionProvider>
   </extension>

</plugin>
