<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="ca.gc.asc_csa.apogy.addons.mobility.pathplanners.ui"
            class="ca.gc.asc_csa.apogy.addons.mobility.pathplanners.ui.ApogyAddonsMobilityPathplannersUIPackage"
            genModel="model/apogy_addons_mobility_pathplanners_ui.xcore"/>
   </extension>

</plugin>
