<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Canadian Space Agency / Agence spatiale canadienne 2016 Copyrights (c)
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apogy_core_programs_javascript -->
      <package
            uri="ca.gc.asc_csa.apogy.core.programs.javascript"
            class="ca.gc.asc_csa.apogy.core.programs.javascript.ApogyCoreJavaScriptProgramsPackage"
            genModel="model/apogy_core_javascript_programs.xcore"/>
   </extension>
   <extension
         point="org.eclipse.dltk.javascript.core.typeinfo">
      <provider
            class="ca.gc.asc_csa.apogy.core.programs.javascript.ApogyTypeProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.eclipse.dltk.javascript.core.JavaScriptLanguageToolkit$Factory"
            nature="ca.gc.asc_csa.apogy.core.ui.natures.ApogyNature"
            priority="0">
      </language>
   </extension>

</plugin>
