<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyrights Canadian Space Agency 2012. All rights reserved.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symphony_common_ui_jinput -->
      <package
            uri="org.eclipse.symphony.common.io.jinput"
            class="org.eclipse.symphony.common.io.jinput.Symphony__CommonIOJInputPackage"
            genModel="model/symphony_common_io_jinput.xcore"/>
   </extension>

null
</plugin>
